<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select-or-search">
      <form role="form" [formGroup]="feetypeForm" (ngSubmit)="addFeeTypes()">
        <input class="standard" formControlName="fee_type" placeholder="Enter..." type="text">
        <button type="submit" class="btn -cta">Add Type</button>
      </form>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Type</th>
            <th align="left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fee of fee_types; let i=index">
            <td class="_s-no"><span>{{ i + 1 }}</span></td>
            <td>{{fee.fee_type}}</td>
            <td class="_actions">
              <button class="btn" (click)="editFeeType(i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteFeeType(fee.fee_types_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>