/* .leftcard {
    height: 220px;
    width: 17%;
    background-color: white;
    margin-right: 1%;
    } */
 
/* Small devices (landscape phones, 279px and 575px up) */
@media (min-width: 279px) and (max-width: 575px){
    .rightcard {
        width: 65%;
        background-color: white;
        height: 450px;
    }
    .leftdiv{
        height: 450px;
    }
    .leftbox{
        width: 49%;
        height: 220px;
        background-color: white;
        padding: 5px;
    }
    .rightbox{
        width: 49%;
        height: 150px;
        background-color: white;
        padding: 5px;
    }
    .lefttop{
        height: 220px;
        display: flex;
    }
    .leftbottom{
        height: 50%;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
        padding: 5px 0px 0px 5px;
    }
    .righttop {
        height: 50%;
        margin: 2% 0 0 0;
        display: flex;
    }
    .rightbottom {
        height: 290px;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
    }
    .center-margin {
        margin-right: 2%;
    }
    .rigdiv{        
        width: 100%;        
        background-color: white;       
        height: 70%;    
    }
    /* classes css */
    .selcla{ 
        height: 40px;
    }    
    .selcla:hover .leftarrow .fa, .selcla:hover .rightarrow .fa, .selcla:hover .leftarrowsect .fa, .selcla:hover .rightarrowsect .fa{ 
        display: block;
    }    
    .innerselcla{        display: flex;        padding-top: 10px;        width: 100%;    }    
    .leftarrow, .leftarrowsect{        width: 10%;        cursor: pointer;    }    
    .rightarrow, .rightarrowsect{        width: 10%;        cursor: pointer;    }    
    #buttonId2{        margin-top: 3px !important;    }    .scrollclass{        width: 80%;    }    
    .leftarrow .fa, .rightarrow .fa{        font-size: 20px;        margin: 10px 0 0 0px;        color: #5e81f4;        display: none;    }    
    .leftarrowsect .fa, .rightarrowsect .fa{        font-size: 18px;        margin: 12px 0 0 0px;        color: #5e81f4;        display: none;    }    
    .selctedresult{        width: 100%;          margin-top: 15px;   }    
    .buttonsect {        font-size: 14px !important;        padding-top: 4px !important;    }
    .table-responsive {
        height: 190px !important;
    }
    .scrollonhover:hover{
        overflow-y: hidden;
    }

    /* canvas css */
    .canvas1{
        width: 300px !important;
        height: 150px !important;
        margin-left: -45px;
    }
    .canvas2{
        height: 210px !important;
    }
    .basechart{
        width: 100% !important;
        height: 100% !important;
    }
    .basechart1{
        width: 100% !important;
        height: 100% !important;
    }
    h5 {
        color: #5e81f4;
        padding: 0px 0px 6px 12px;
        font-weight: 900;
    }
    .att-values{
        display: flex;
        width: 100%;
    }
    .att-heading{
        width: 20%;
        font-weight: 900;
    }
    .progbar{
        width: 80%;
    }
}
/* button tabs */    
.btntabs{       
     width: 100%;        
     height: 30px;        
     border-bottom: solid 1px #F5F5F5;        
     display: flex;    
}
.btntab{        
    width: 25%;        
    padding: 5px 0 0 0;        
    color: #5e81f4;        
    font-size: 14px;        
    font-weight: 600;    
}    
.btntab:hover, .btntab-active{        
    cursor: pointer;        
    background-color: #5e81f4;        
    color: white;    
}
.caltimediv{        
    display: flex;        
    width: 100%;        
    height: 28%;       
    margin-bottom: 2%;    
}    
.calenderwid{        
    width: 50%;        
    height: 99%;        
    background-color: cadetblue;        
    border-radius: 5px;        
    margin-right: 2%;    
}    
.mnth{        
    font-size: 18px;        
    font-weight: 500;       
    text-align: center;        
    color: white;        
    padding-top: 10px;    
}    
.daydate{       
    font-size: 45px;        
    font-weight: 700;        
    text-align: center;        
    color: white;    
}    
.dayyear{        
    font-size: 18px;        
    font-weight: 500;        
    text-align: center;        
    color: white;    
}    /* timer */    
.timewid{        
    width: 48%;        
    height: 70%;        
    background-color: orange;        
    border-radius: 5px;        
    margin-top: 5%;    
}    
.timenow{        
    font-size: 35px;        
    font-weight: 600;        
    text-align: center;       
     color: white;        
     padding-top: 20px;    
}

    /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
    .rightcard {
        width: 65%;
        background-color: white;
        height: 450px;
    }
    .leftdiv{
        height: 450px;
    }
    .leftbox{
        width: 49%;
        height: 220px;
        background-color: white;
        padding: 5px;
    }
    .rightbox{
        width: 49%;
        height: 150px;
        background-color: white;
        padding: 5px;
    }
    .lefttop{
        height: 220px;
        display: flex;
    }
    .leftbottom{
        height: 50%;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
        padding: 5px 0px 0px 5px;
    }
    .righttop {
        height: 50%;
        margin: 2% 0 0 0;
        display: flex;
    }
    .rightbottom {
        height: 290px;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
    }
    .center-margin {
        margin-right: 2%;
    }
    .rigdiv{        
        width: 100%;        
        background-color: white;       
        height: 70%;    
    }
    /* classes css */
    .selcla{ 
        height: 40px;
    }    
    .selcla:hover .leftarrow .fa, .selcla:hover .rightarrow .fa, .selcla:hover .leftarrowsect .fa, .selcla:hover .rightarrowsect .fa{ 
        display: block;
    }    
    .innerselcla{        display: flex;        padding-top: 10px;        width: 100%;    }    
    .leftarrow, .leftarrowsect{        width: 10%;        cursor: pointer;    }    
    .rightarrow, .rightarrowsect{        width: 10%;        cursor: pointer;    }    
    #buttonId2{        margin-top: 3px !important;    }    .scrollclass{        width: 80%;    }    
    .leftarrow .fa, .rightarrow .fa{        font-size: 20px;        margin: 10px 0 0 0px;        color: #5e81f4;        display: none;    }    
    .leftarrowsect .fa, .rightarrowsect .fa{        font-size: 18px;        margin: 12px 0 0 0px;        color: #5e81f4;        display: none;    }    
    .selctedresult{        width: 100%;          margin-top: 15px;   }    
    .buttonsect {        font-size: 14px !important;        padding-top: 4px !important;    }
    .table-responsive {
        height: 190px !important;
    }
    .scrollonhover:hover{
        overflow-y: hidden;
    }

    /* canvas css */
    .canvas1{
        width: 300px !important;
        height: 150px !important;
        margin-left: -45px;
    }
    .canvas2{
        height: 210px !important;
    }
    .basechart{
        width: 100% !important;
        height: 100% !important;
    }
    .basechart1{
        width: 100% !important;
        height: 100% !important;
    }
    h5 {
        color: #5e81f4;
        padding: 0px 0px 6px 12px;
        font-weight: 900;
    }
    .att-values{
        display: flex;
        width: 100%;
    }
    .att-heading{
        width: 20%;
        font-weight: 900;
    }
    .progbar{
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    .rightcard {
        width: 65%;
        background-color: white;
        height: 450px;
    }
    .leftdiv{
        height: 450px;
    }
    .leftbox{
        width: 49%;
        height: 220px;
        background-color: white;
        padding: 5px;
    }
    .rightbox{
        width: 49%;
        height: 150px;
        background-color: white;
        padding: 5px;
    }
    .lefttop{
        height: 220px;
        display: flex;
    }
    .leftbottom{
        height: 50%;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
        padding: 5px 0px 0px 5px;
    }
    .righttop {
        height: 50%;
        margin: 2% 0 0 0;
        display: flex;
    }
    .rightbottom {
        height: 290px;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
    }
    .center-margin {
        margin-right: 2%;
    }
    .rigdiv{        
        width: 100%;        
        background-color: white;       
        height: 70%;    
    }
    /* classes css */
    .selcla{ 
        height: 40px;
    }    
    .selcla:hover .leftarrow .fa, .selcla:hover .rightarrow .fa, .selcla:hover .leftarrowsect .fa, .selcla:hover .rightarrowsect .fa{ 
        display: block;
    }    
    .innerselcla{        display: flex;        padding-top: 10px;        width: 100%;    }    
    .leftarrow, .leftarrowsect{        width: 10%;        cursor: pointer;    }    
    .rightarrow, .rightarrowsect{        width: 10%;        cursor: pointer;    }    
    #buttonId2{        margin-top: 3px !important;    }    .scrollclass{        width: 80%;    }    
    .leftarrow .fa, .rightarrow .fa{        font-size: 20px;        margin: 10px 0 0 0px;        color: #5e81f4;        display: none;    }    
    .leftarrowsect .fa, .rightarrowsect .fa{        font-size: 18px;        margin: 12px 0 0 0px;        color: #5e81f4;        display: none;    }    
    .selctedresult{        width: 100%;          margin-top: 15px;   }    
    .buttonsect {        font-size: 14px !important;        padding-top: 4px !important;    }
    .table-responsive {
        height: 190px !important;
    }
    .scrollonhover:hover{
        overflow-y: hidden;
    }

    /* canvas css */
    .canvas1{
        width: 300px !important;
        height: 150px !important;
        margin-left: -45px;
    }
    .canvas2{
        height: 210px !important;
    }
    .basechart{
        width: 100% !important;
        height: 100% !important;
    }
    .basechart1{
        width: 100% !important;
        height: 100% !important;
    }
    h5 {
        color: #5e81f4;
        padding: 0px 0px 6px 12px;
        font-weight: 900;
    }
    .att-values{
        display: flex;
        width: 100%;
    }
    .att-heading{
        width: 20%;
        font-weight: 900;
    }
    .progbar{
        width: 80%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
    .rightcard {
        width: 65%;
        background-color: white;
        height: 450px;
    }
    .leftdiv{
        width: 33%;
        height: 450px;
        margin-right: 1%;
    }
    .leftbox{
        width: 50%;
        height: 100%;
        background-color: white;
        padding: 5px;
    }
    .rightbox{
        width: 50%;
        height: 97%;
        background-color: white;
        padding: 5px;
    }
    .lefttop{
        height: 50%;
        display: flex;
    }
    .leftbottom{
        height: 218px;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
        padding: 5px 0px 0px 5px;
    }
    .righttop {
        height: 50%;
        margin: 2% 0 0 0;
        display: flex;
    }
    .rightbottom {
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .center-margin {
        margin-right: 2%;
    }
    .rigdiv{
        width: 100%;
        background-color: white;
        height: 100%;
    }
    /* classes css */
    .selcla{ 
        height: 40px;
    }    
    .selcla:hover .leftarrow .fa, .selcla:hover .rightarrow .fa, .selcla:hover .leftarrowsect .fa, .selcla:hover .rightarrowsect .fa{ 
        display: block;
    }    
    .innerselcla{        
        display: flex;        
        padding-top: 10px;        
        width: 100%;    
    }    
    .leftarrow, .leftarrowsect{        
        width: 10%;        
        cursor: pointer;    
    }    
    .rightarrow, .rightarrowsect{        
        width: 10%;        
        cursor: pointer;    
    }    
    #buttonId2{        
        margin-top: 3px !important;    
    }    
    .scrollclass{        
        width: 80%;    
    }    
    .leftarrow .fa, .rightarrow .fa{        
        font-size: 20px;        
        margin: 10px 0 0 0px;        
        color: #5e81f4;        
        display: none;    
    }    
    .leftarrowsect .fa, .rightarrowsect .fa{        
        font-size: 18px;        
        margin: 12px 0 0 0px;        
        color: #5e81f4;        
        display: none;    
    }    
    .selctedresult{        
        width: 100%;          
        /* margin-top: 15px;    */
    }    
    .selctedresult1{
        width: 100%;
    }
    .buttonsect {        
        font-size: 12px !important;        
        padding-top: 4px !important;    
    }
    .buttonsect1{
        font-size: 15px !important;
    }
    .table-responsive {
        height: 100%;
    }
    .scrollonhover:hover{
        overflow-y: hidden;
    }

    /* canvas css */
    .canvas1{
        width: 300px !important;
        height: 150px !important;
        margin-left: -45px;
    }
    .canvas2{
        height: 210px !important;
    }
    .basechart{
        width: 100% !important;
        height: 100% !important;
    }
    .basechart1{
        width: 100% !important;
        height: 100% !important;
    }
    h5 {
        color: #5e81f4;
        padding: 0px 0px 6px 12px;
        font-weight: 900;
    }
    .att-values{
        display: flex;
        width: 100%;
    }
    .att-heading{
        width: 20%;
        font-weight: 900;
    }
    .att-heading1{
        width: 20%;
        font-weight: 900;
        margin-left: 10px;
    }
    .studattendtxt p{
        font-size: 12px;
        text-align: left;
        margin-left: 15px;
    }
    .progbar{
        width: 80%;
    }
    /* button tabs */
    .btntabs{
        width: 100%;
        height: 30px;
        border-bottom: solid 1px #F5F5F5;
        display: flex;
    }
    .btntab{
        width: 25%;
        padding: 7px 0 0 0;
        color: #5e81f4;
        font-size: 12px;
        font-weight: 600;
    }
    .btntab:hover, .btntab-active{
        cursor: pointer;
        background-color: #5e81f4;
        color: white;
    }
    /* calender and time widgets */
    /* calender */
    .rigdiv1{
        width: 100%;
        background-color: white;
        height: 100%;
    }
    .caltimediv{
        display: flex;
        width: 100%;
        height: 28%;
        margin-bottom: 2%;
    }
    .calenderwid{
        width: 50%;
        height: 99%;
        background-color: #7DCEA0;
        border-radius: 5px;
        margin-right: 2%;
    }
    .mnth{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: white;
        padding-top: 10px;
    }
    .daydate{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: white;
    }
    .dayyear{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: white;
    }
    /* timer */
    .timewid{
        width: 48%;
        height: 70%;
        background-color: #F1948A;
        border-radius: 5px;
        margin-top: 5%;
    }
    .timenow{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        color: white;
        padding-top: 20px;
    }
    .tabtablehead th{
        font-size: 12px; 
    }
    .tabtabletxt td{
        font-size: 12px;
    }
    .table-responsive td, .table-responsive th {
        font-size: 12px;
    }
    .timecolwdth{
        width: 105px;
    }

    /* scroll classes */
    div.scrollmenu {
        overflow: hidden;
        white-space: nowrap;
      }
      div.scrollmenu:hover {
        overflow: auto;
        white-space: nowrap;
        cursor: pointer;
      }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .rightcard {
        width: 65%;
        background-color: white;
        height: 450px;
    }
    .leftdiv{
        width: 33%;
        height: 450px;
        margin-right: 1%;
    }
    .leftbox{
        width: 50%;
        height: 100%;
        background-color: white;
        padding: 5px;
    }
    .rightbox{
        width: 50%;
        height: 97%;
        background-color: white;
        padding: 5px;
    }
    .lefttop{
        height: 50%;
        display: flex;
    }
    .leftbottom{
        height: 218px;
        width: 100%;
        background-color: white;
        margin: 2% 0 0 0;
        padding: 5px 0px 0px 5px;
    }
    .righttop {
        height: 50%;
        margin: 2% 0 0 0;
        display: flex;
    }
    .rightbottom {
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .center-margin {
        margin-right: 2%;
    }
    .rigdiv{
        width: 100%;
        background-color: white;
        height: 100%;
    }
    /* classes css */
    .selcla{ 
        height: 40px;
    }    
    .selcla:hover .leftarrow .fa, .selcla:hover .rightarrow .fa, .selcla:hover .leftarrowsect .fa, .selcla:hover .rightarrowsect .fa{ 
        display: block;
    }    
    .innerselcla{        
        display: flex;        
        padding-top: 10px;        
        width: 100%;    
    }    
    .leftarrow, .leftarrowsect{        
        width: 10%;        
        cursor: pointer;    
    }    
    .rightarrow, .rightarrowsect{        
        width: 10%;        
        cursor: pointer;    
    }    
    #buttonId2{        
        margin-top: 3px !important;    
    }    
    .scrollclass{        
        width: 80%;    
    }    
    .leftarrow .fa, .rightarrow .fa{        
        font-size: 20px;        
        margin: 10px 0 0 0px;        
        color: #5e81f4;        
        display: none;    
    }    
    .leftarrowsect .fa, .rightarrowsect .fa{        
        font-size: 18px;        
        margin: 12px 0 0 0px;        
        color: #5e81f4;        
        display: none;    
    }    
    .selctedresult{        
        width: 100%;          
        /* margin-top: 15px;    */
    }    
    .selctedresult1{
        width: 100%;
    }
    .buttonsect {        
        font-size: 12px !important;        
        padding-top: 4px !important;    
    }
    .buttonsect1{
        font-size: 15px !important;
    }
    .table-responsive {
        height: 100%;
    }
    .scrollonhover:hover{
        overflow-y: hidden;
    }

    /* canvas css */
    .canvas1{
        width: 300px !important;
        height: 150px !important;
        margin-left: -45px;
    }
    .canvas2{
        height: 210px !important;
    }
    .basechart{
        width: 100% !important;
        height: 100% !important;
    }
    .basechart1{
        width: 100% !important;
        height: 100% !important;
    }
    h5 {
        color: #5e81f4;
        padding: 0px 0px 6px 12px;
        font-weight: 900;
    }
    .att-values{
        display: flex;
        width: 100%;
    }
    .att-heading{
        width: 20%;
        font-weight: 900;
    }
    .att-heading1{
        width: 20%;
        font-weight: 900;
        margin-left: 10px;
    }
    .studattendtxt p{
        font-size: 12px;
        text-align: left;
        margin-left: 15px;
    }
    .progbar{
        width: 80%;
    }
    /* button tabs */
    .btntabs{
        width: 100%;
        height: 30px;
        border-bottom: solid 1px #F5F5F5;
        display: flex;
    }
    .btntab{
        width: 25%;
        padding: 7px 0 0 0;
        color: #5e81f4;
        font-size: 12px;
        font-weight: 600;
    }
    .btntab:hover, .btntab-active{
        cursor: pointer;
        background-color: #5e81f4;
        color: white;
    }
    /* calender and time widgets */
    /* calender */
    .rigdiv1{
        width: 100%;
        background-color: white;
        height: 100%;
    }
    .caltimediv{
        display: flex;
        width: 100%;
        height: 28%;
        margin-bottom: 2%;
    }
    .calenderwid{
        width: 50%;
        height: 99%;
        background-color: #7DCEA0;
        border-radius: 5px;
        margin-right: 2%;
    }
    .mnth{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: white;
        padding-top: 10px;
    }
    .daydate{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: white;
    }
    .dayyear{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: white;
    }
    /* timer */
    .timewid{
        width: 48%;
        height: 70%;
        background-color: #F1948A;
        border-radius: 5px;
        margin-top: 5%;
    }
    .timenow{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        color: white;
        padding-top: 20px;
    }
    .tabtablehead th{
        font-size: 12px; 
    }
    .tabtabletxt td{
        font-size: 12px;
    }
    .table-responsive td, .table-responsive th {
        font-size: 12px;
    }
    .timecolwdth{
        width: 105px;
    }

    /* scroll classes */
    div.scrollmenu {
        overflow: hidden;
        white-space: nowrap;
      }
      div.scrollmenu:hover {
        overflow: auto;
        white-space: nowrap;
        cursor: pointer;
      }
}