<main _ngcontent-tvu-c4="" class="card mt-20 within-viewport school-details-part" style="height: auto;">
  <h1 class="main-title">School Information</h1>
  <div class="school-wrapper">
    <div class="school-picture-wrapper">
      <button class="school-picture-edit-btn"></button>
      <img scr="../../../assets/images/school.png" />
    </div>
    <div class="school-details-wrapper">
      <button class="school-details-edit-btn">Edit</button>
      <h3>School Details</h3>
      <table class="school-details-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="school-detail-heading">Name:</td>
          <td class="school-detail-value">Newton English Medium</td>
          <td class="school-detail-heading">Class Form:</td>
          <td class="school-detail-value">Newton English Medium</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Medium:</td>
          <td class="school-detail-value">Newton English Medium</td>
          <td class="school-detail-heading">Affiliation:</td>
          <td class="school-detail-value">Newton English Medium</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Timings:</td>
          <td class="school-detail-value">Newton English Medium</td>
          <td class="school-detail-heading">Extra Curricular Activities:</td>
          <td class="school-detail-value">Newton English Medium</td>
        </tr>
      </table>
    </div>
  </div>
  <p class="school-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.<br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
    </p>
</main>

<div class="mgmt-contact-wrapper">
  <div class="mgmt-wrapper">
    <h3>Management Details</h3>
    <table class="school-details-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="school-detail-heading">Founder:</td>
          <td class="school-detail-value">Newton English Medium</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Chairman:</td>
          <td class="school-detail-value">Prabhu</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Coordinator:</td>
          <td class="school-detail-value">Shankar</td>
        </tr>
        <tr>
          <td class="school-detail-heading">Principal:</td>
          <td class="school-detail-value">Gopal</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Vice Principal:</td>
          <td class="school-detail-value">Top</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Established:</td>
          <td class="school-detail-value">1900</td>
        </tr>
      </table>
      <button class="mgmt-contact-edit-btn">Edit</button>
  </div>
  <div class="contact-wrapper">
    <h3>Contact Details</h3>
    <table class="school-details-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="school-detail-heading">Address:</td>
          <td class="school-detail-value">Newton English Medium</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Contact No:</td>
          <td class="school-detail-value">+91 9999999999</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Alternate <br>Phone No:</td>
          <td class="school-detail-value">+91 9999999999</td>
        </tr>
        <tr>
          <td class="school-detail-heading">Website:</td>
          <td class="school-detail-value">www.proschool.com</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Email:</td>
          <td class="school-detail-value">proschool@gmail.com</td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      </table>
      <button class="mgmt-contact-edit-btn">Edit</button>
  </div>
</div>