<main _ngcontent-tvu-c4="" class="card mt-20 within-viewport school-details-part" style="height: auto;">
  <h1 class="main-title">School Information</h1>
  <div class="school-wrapper">
    <div class="school-picture-wrapper">
      <button class="school-picture-edit-btn"></button>
      <img scr="../../../assets/images/school.png" />
    </div>
    <div class="school-details-wrapper">
      <button class="school-details-edit-btn" (click)="editSchoolDetails()" *ngIf="user.role === 'admin'">Edit</button>
      <h3>School Details</h3>
      <table class="school-details-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="school-detail-heading">Name:</td>
          <td class="school-detail-value">{{schoolprofile.name}}</td>
          <td class="school-detail-heading">Classes:</td>
          <td class="school-detail-value">{{schoolprofile.class_from}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Medium:</td>
          <td class="school-detail-value">{{schoolprofile.medium}}</td>
          <td class="school-detail-heading">Affiliation:</td>
          <td class="school-detail-value">{{schoolprofile.affiliation}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Timings:</td>
          <td class="school-detail-value">{{schoolprofile.timings}}</td>
          <td class="school-detail-heading">Extra Curricular Activities:</td>
          <td class="school-detail-value">{{schoolprofile.extra_curricular_activites}}</td>
        </tr>
      </table>
    </div>
  </div>
  <p class="school-desc">
      {{schoolprofile.about}}
    </p>
</main>

<div class="mgmt-contact-wrapper">
  <div class="mgmt-wrapper">
    <h3>Management Details</h3>
    <table class="school-details-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="school-detail-heading">Founder:</td>
          <td class="school-detail-value">{{schoolprofile.founder}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Chairman:</td>
          <td class="school-detail-value">{{schoolprofile.chairman}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Coordinator:</td>
          <td class="school-detail-value">{{schoolprofile.coordinator}}</td>
        </tr>
        <tr>
          <td class="school-detail-heading">Principal:</td>
          <td class="school-detail-value">{{schoolprofile.principal}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Vice Principal:</td>
          <td class="school-detail-value">{{schoolprofile.vice_principal}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Established:</td>
          <td class="school-detail-value">{{schoolprofile.est_on}}</td>
        </tr>
      </table>
      <button class="mgmt-contact-edit-btn" (click)="editManagementDetails()" *ngIf="user.role === 'admin'">Edit</button>
  </div>
  <div class="contact-wrapper">
    <h3>Contact Details</h3>
    <table class="school-details-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="school-detail-heading">Address:</td>
          <td class="school-detail-value">{{schoolprofile.address}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Contact No:</td>
          <td class="school-detail-value">{{schoolprofile.phone}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Alternate <br>Phone No:</td>
          <td class="school-detail-value">{{schoolprofile.alternate_phone}}</td>
        </tr>
        <tr>
          <td class="school-detail-heading">Website:</td>
          <td class="school-detail-value">{{schoolprofile.website}}</td>
        </tr>
         <tr>
          <td class="school-detail-heading">Email:</td>
          <td class="school-detail-value">{{schoolprofile.email}}</td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      </table>
      <button class="mgmt-contact-edit-btn" (click)="editContactDetails()" *ngIf="user.role === 'admin'">Edit</button>
  </div>
</div>