<main class="card mt-20 within-viewport new-assignment-list">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
        <app-teacher-class *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-teacher-class>
        <input type="date" [(ngModel)]="selected_date" (change)="getAssignments_byDate()">
      </div>
    </div>
    <button class="btn -cta" (click)="addAssignment()">Add Assignments</button>
  </section>
  <ul class="tab-menu">
    <li class="selected-tab">English</li>
    <li>Maths</li>
    <li>Physics</li>
    <li>Biology</li>
    <li>Chemistry</li>
    <li>History</li>
    <li>Geography</li>
    <li>Pol Science</li>
  </ul>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="_s-no-header">Sr. no</th>
            <th align="left">Assignment Title</th>
            <th align="left">Chapter Name</th>
            <th align="left">Assign Date</th>
            <th align="left">Due Date</th>
            <th align="left">Description</th>
            <th align="left" *ngIf="user.role === 'admin' || user.role === 'teacher'">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let sub of assignments; let i = index">
          <!-- <tr>
            <td class="subjectpaper _s-no"><span style="width: 100%; height: 100%;">{{sub.name}}</span></td>
          </tr> -->
          <tr *ngFor="let ass of sub.assignments; let j = index">
            <td class="_s-no"><span>{{ j + 1 }}</span></td>
            <td>{{ass.assignment_title}}</td>
            <td>{{ass.chapter_name}}</td>
            <td>{{ass.assign_date}}</td>
            <td>{{ass.due_date}}</td>
            <td><p class="description-short">{{ass.description}}</p></td>
            <td *ngIf="ass.submission === 'pending'">
              <button class="btn -cta" routerLink="/main/assignments/assignmentsMarks/add/{{ass.section_id}}/{{ass.subject_id}}/{{ass.lession_id}}/{{ass.assignment_id}}">Add Marks</button>
            </td>
            <td *ngIf="ass.submission === 'completed'">
              <button class="btn -cta" routerLink="/main/assignments/assignmentsMarks/view/{{ass.section_id}}/{{ass.subject_id}}/{{ass.lession_id}}/{{ass.assignment_id}}">View Marks</button>
            </td>
            <td class="_actions" *ngIf="user.role === 'admin' || user.role === 'teacher' && ass.assignment_title !== 'No Recent Assignments'">
              <button class="btn" (click)="editAssignment(i, j)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteAssignment(ass.assignment_id, i)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>