<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-subject *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)" (subjectEvent)="receiveSubject($event)"></app-subject>
        <app-teacher-subject *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)" (subjectEvent)="receiveSubject($event)"></app-teacher-subject>
        <input type="date" [(ngModel)]="selected_date" (change)="CT_filterByDate()">
      </div>
      <input type="search" name="" placeholder="Search">
    </div>
    <button class="btn -cta" (click)="addClasstest()" *ngIf="user.role === 'admin'">Add ClassTest</button>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Class Test</th>
            <th align="left">Test Date</th>
            <th align="left">Max Marks</th>
            <th align="left" *ngIf="user.role === 'admin' || user.role === 'teacher'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ct of classTests; let i=index">
            <td class="_s-no"><span>{{ i + 1 }}</span></td>
            <td>{{ct.title}}</td>
            <td>{{ct.date}}</td>
            <td>{{ct.maxMarks}}</td>
            <td class="_actions" *ngIf="user.role === 'admin' || user.role === 'teacher'">
              <button class="btn" (click)="editClasstest(i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteClasstest(ct.classTest_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>