<!-- <div id="main-content">

  <div class="row">
    <div class="container-fluid" id="buttonId1">
      <button routerLink="/main/admin/materials" class="button button2 hvr-pop transition">Material</button>
      <button routerLink="/main/admin/vendors" class="button button2 hvr-pop transition">Vendors</button>
      <button routerLink="/main/admin/materialIn" class="button button2 hvr-pop transition">Material-In</button>
      <button routerLink="/main/admin/materialOut" class="button button2 hvr-pop transition">Material-Out</button>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid dashboard-content">
      <div class="card selectcard">
        <form class="searchForm" role="form" [formGroup]="materialInForm" (ngSubmit)="addMaterialsIn()">
          <div class="form-group">
            <label class="pull-left">Vendor Name</label>
            <select class="form-control" formControlName="vendor">
              <option>select...</option>
              <option *ngFor="let ven of vendors" value="{{ven.vendor_id}}">{{ven.vendor_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="pull-left">Material</label>
            <select class="form-control" formControlName="material">
              <option>select...</option>
              <option *ngFor="let mat of materials" value="{{mat.material_id}}">{{mat.material}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="pull-left">No of Units</label>
            <input class="form-control" formControlName="no_of_units" placeholder="Enter..." type="number">
          </div>
          <div class="form-group">
            <label class="pull-left">Price</label>
            <input class="form-control" formControlName="price" placeholder="Enter..." type="number">
          </div>
          <div class="form-group">
            <label class="pull-left">Purchased Date</label>
            <input class="form-control" formControlName="purchased_date" placeholder="Enter..." type="date">
          </div>
          <div class="form-group">
            <label class="pull-left">Payment DueDate</label>
            <input class="form-control" formControlName="payment_duedate" placeholder="Enter..." type="date">
          </div>
          <div class="form-group pull-right">
            <button type="submit" class="button button1 hvr-pop transition">Add Material-In</button>
          </div>
        </form>
      </div>
      <div class="card listcard">
        <div class="pull-left">
          <h4>Materials-In</h4>
        </div>
        <div class="searchForm">
          <div class="table-responsive">
            <table style="width:100%;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Material</th>
                  <th>Vendor</th>
                  <th>No of Units</th>
                  <th>Price</th>
                  <th>Purchased Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mat of collection.materialsIn | paginate: config; let i=index">
                  <td>{{ (config.currentPage - 1) * config.itemsPerPage + i +1 }}</td>
                  <td>{{mat.material}}</td>
                  <td>{{mat.vendor}}</td>
                  <td>{{mat.no_of_units}}</td>
                  <td>{{mat.price}}</td>
                  <td>{{mat.purchased_date}}</td>
                  <td>
                    <div class="pattrenED">
                      <div><i class="fa fa-pencil-square" aria-hidden="true" (click)="editMaterialIn((config.currentPage - 1) * config.itemsPerPage + i)"></i></div>
                      <div><i class="fa fa-trash" aria-hidden="true" (click)="deleteMaterialIn(mat.material_in_id)"></i></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginationdiv">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select_div">
      <button class="btn -cta" routerLink="/main/admin/materials">Material</button>
      <button class="btn -cta" routerLink="/main/admin/vendors">Vendors</button>
      <button class="btn -cta" routerLink="/main/admin/materialIn">Material-In</button>
      <button class="btn -cta" routerLink="/main/admin/materialOut">Material-Out</button>
    </div>
    <div class="add_div">
      <button type="submit" class="btn -cta">Add Material-In</button>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Material</th>
            <th align="left">Vendor</th>
            <th align="left">No of Units</th>
            <th align="left">Price</th>
            <th align="left">Purchased Date</th>
            <th align="left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mat of materialsIn; let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{mat.material}}</td>
            <td>{{mat.vendor}}</td>
            <td>{{mat.no_of_units}}</td>
            <td>{{mat.price}}</td>
            <td>{{mat.purchased_date}}</td>
            <td class="_actions">
              <button class="btn" (click)="editMaterialIn(i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteMaterialIn(mat.material_in_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>