<div id="main-content">
    <div class="row">
        <div class="menu-bar">
            <button routerLink="/main/main/studentprofile/profile/{{student_id}}/{{section_id}}"
                routerLinkActive="active">Profile</button>
            <button routerLink="/main/main/studentprofile/attendance/{{student_id}}/{{section_id}}"
                routerLinkActive="active">Attendance</button>
            <button routerLink="/main/main/studentprofile/academics/{{student_id}}/{{section_id}}"
                class="button button2 hvr-pop transition"
                routerLinkActive="active">Academics</button>
            <button routerLink="/main/main/studentprofile/assessment/{{student_id}}/{{section_id}}"
                routerLinkActive="active">Assessment</button>
            <button routerLink="/main/main/studentprofile/fees/{{student_id}}/{{section_id}}"
                routerLinkActive="active">Fee Collection</button>
        </div>
    </div>

    <div class="row">
        <div class="page-content-wrapper">
            <div class="student-info-wrapper">
                <div class="student-details">
                    <div class="student-img-wrapper">
                        <img src="../../../assets/images/student_new.png" />
                    </div>
                    <div class="image-upload iconF">
                        <label for="file-input-studProfPic">
                            <div class="pattrenI">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                            </div>
                        </label>
                        <input id="file-input-studProfPic" type="file" name="image"
                            (change)="studentProfPic($event.target.files)" />
                    </div>
                    <p class="student-basic-info">
                        Name: <span>{{student_details.first_name}} {{student_details.last_name}}</span>
                        <br><br>
                        Class: <span>{{student_details.school_classes[0].name}}</span>
                        <br><br>
                        Roll No: <span>{{student_details.roll_no}}</span>
                    </p>
                </div>
                <div class="student-details-tablist-wrapper">
                    <section class="student-task-section">
                        <section class="page-actions">
                            <div class="dropdown">
                                <button class="dropbtn" (click)="showSubjectList = true" (clickOutside)="showSubjectList = false">
                                    {{!selected_subject.subject_name ? 'Select Subject' : selected_subject.subject_name}}
                                </button>
                                <div class="dropdown-content" [hidden]="!showSubjectList">
                                    <a (click)="selected_subject.subject_id = 'All'; selected_subject.subject_name = 'All Subjects'; getSubjectAssessments();">All Subjects</a>
                                    <a *ngFor="let sub of assessments[0].subjects"
                                        (click)="selected_subject = sub; getSubjectAssessments();">{{ sub.subject_name}}</a>
                                </div>
                            </div>
                            <button class="btn -cta" (click)="select_assessment('Assignments')">Assignments</button>
                            <button class="btn -cta" (click)="select_assessment('Classtests')">Class Tests</button>
                            <button class="btn -cta" (click)="select_assessment('Projectworks')">Project Works</button>
                        </section>
                        <section class="table-and-pagination -classes-schedule" *ngIf="allAssessments else allSubjects">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th align="left">Chapter</th>
                                            <th align="left">Total Marks</th>
                                            <th align="left">Percentage</th>
                                            <th align="left">Grade</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sub of assessments[0].subjects; let i = index">
                                            <td class="_s-no"><span>{{ i + 1 }}</span></td>
                                            <td>{{sub.subject_name}}</td>
                                            <td>{{sub.subjectMarks}}</td>
                                            <td>{{sub.subjectpercentage}} %</td>
                                            <td>{{sub.grade}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="_attendance-box dynamic-bar-graph">
                                <section role="tabpanel">
                                    <div class="_metrics">
                                        <div *ngFor="let sub of assessments[0].subjects; let i = index">
                                            <div [ngClass] = "{'-total': sub.subjectpercentage >= 80, '-due': (sub.subjectpercentage > 60 && sub.subjectpercentage < 80), '-attend': sub.subjectpercentage <= 60}" class="_metric">
                                                <div class="_bar">
                                                    <span class="_bar_progress" [ngStyle]="{'height': sub.subjectpercentage +'%'}">
                                                    </span>
                                                </div>
                                                <div class="_name">
                                                    <span class="_legend">{{sub.subject_name}}</span>
                                                    {{sub.subjectMarks}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <ng-template #allSubjects>
                            <section class="table-and-pagination -classes-schedule">
                                <div class="table-container">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th align="left">Chapter</th>
                                                <th align="left">Total Assessments</th>
                                                <th align="left">Total Marks</th>
                                                <th align="left">Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let sub of subject_Assessments; let i = index">
                                                <td class="_s-no"><span>{{ i + 1 }}</span></td>
                                                <td>{{sub.title}}</td>
                                                <td>{{sub.totalAssignments}}</td>
                                                <td>{{sub.totalMarks}}</td>
                                                <td>{{sub.percentage}} %</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="_attendance-box dynamic-bar-graph">
                                    <section role="tabpanel">
                                        <div class="_metrics">
                                            <div *ngFor="let sub of subject_Assessments; let i = index">
                                                <div [ngClass] = "{'-total': sub.percentage > 80, '-due': (sub.percentage > 60 && sub.percentage < 80), '-attend': sub.percentage < 60}" class="_metric">
                                                    <div class="_bar">
                                                        <span class="_bar_progress" [ngStyle]="{'height': sub.percentage +'%'}">
                                                        </span>
                                                    </div>
                                                    <div class="_name">
                                                        <span class="_legend">{{sub.title}}</span>
                                                        {{sub.totalMarks}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </ng-template>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <main class="card mt-20 within-viewport" style="height: auto;">
    <div class="page-actions">
        <section class="student-intro">
            <img src="/assets/images/student.png">
            <h4>Vinod Kumar Alluri</h4>
            <h4>Class X - A</h4>
            <h4>Roll No : 1</h4>

            <div class="col-wrapper">
                <button routerLink="/main/studentprofile/profile/{{student_id}}/{{section_id}}"
                    class="btn -cta active-tab">Profile</button>
                <button routerLink="/main/studentprofile/attendance/{{student_id}}/{{section_id}}"
                    class="btn -cta active-tab">Attendance</button>
                <button routerLink="/main/studentprofile/academics/{{student_id}}/{{section_id}}"
                    class="btn -cta active-tab">Academics</button>
                <button routerLink="/main/studentprofile/assessment/{{student_id}}/{{section_id}}"
                    class="btn -cta active-tab">Assessment</button>
                <button routerLink="/main/studentprofile/fees/{{student_id}}/{{section_id}}"
                    class="btn -cta active-tab">Fees</button>
            </div>

        </section>
        <section class="student-task-section">
            <section class="page-actions">
                <div class="dropdown">
                    <button class="dropbtn" (click)="showSubjectList = true" (clickOutside)="showSubjectList = false">
                        {{!selected_subject.subject_name ? 'Select Subject' : selected_subject.subject_name}}
                    </button>
                    <div class="dropdown-content" [hidden]="!showSubjectList">
                        <a (click)="selected_subject.subject_id = 'All'; selected_subject.subject_name = 'All Subjects'; getSubjectAssessments();">All Subjects</a>
                        <a *ngFor="let sub of assessments[0].subjects"
                            (click)="selected_subject = sub; getSubjectAssessments();">{{ sub.subject_name}}</a>
                    </div>
                </div>
                <button class="btn -cta" (click)="select_assessment('Assignments')">Assignments</button>
                <button class="btn -cta" (click)="select_assessment('Classtests')">Class Tests</button>
                <button class="btn -cta" (click)="select_assessment('Projectworks')">Project Works</button>
            </section>
            <section class="table-and-pagination -classes-schedule" *ngIf="allAssessments else allSubjects">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th align="left">Chapter</th>
                                <th align="left">Total Marks</th>
                                <th align="left">Percentage</th>
                                <th align="left">Grade</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sub of assessments[0].subjects; let i = index">
                                <td class="_s-no"><span>{{ i + 1 }}</span></td>
                                <td>{{sub.subject_name}}</td>
                                <td>{{sub.subjectMarks}}</td>
                                <td>{{sub.subjectpercentage}} %</td>
                                <td>{{sub.grade}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="_attendance-box dynamic-bar-graph">
                    <section role="tabpanel">
                        <div class="_metrics">
                            <div *ngFor="let sub of assessments[0].subjects; let i = index">
                                <div [ngClass] = "{'-total': sub.subjectpercentage >= 80, '-due': (sub.subjectpercentage > 60 && sub.subjectpercentage < 80), '-attend': sub.subjectpercentage <= 60}" class="_metric">
                                    <div class="_bar">
                                        <span class="_bar_progress" [ngStyle]="{'height': sub.subjectpercentage +'%'}">
                                        </span>
                                    </div>
                                    <div class="_name">
                                        <span class="_legend">{{sub.subject_name}}</span>
                                        {{sub.subjectMarks}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <ng-template #allSubjects>
                <section class="table-and-pagination -classes-schedule">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th align="left">Chapter</th>
                                    <th align="left">Total Assessments</th>
                                    <th align="left">Total Marks</th>
                                    <th align="left">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sub of subject_Assessments; let i = index">
                                    <td class="_s-no"><span>{{ i + 1 }}</span></td>
                                    <td>{{sub.title}}</td>
                                    <td>{{sub.totalAssignments}}</td>
                                    <td>{{sub.totalMarks}}</td>
                                    <td>{{sub.percentage}} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="_attendance-box dynamic-bar-graph">
                        <section role="tabpanel">
                            <div class="_metrics">
                                <div *ngFor="let sub of subject_Assessments; let i = index">
                                    <div [ngClass] = "{'-total': sub.percentage > 80, '-due': (sub.percentage > 60 && sub.percentage < 80), '-attend': sub.percentage < 60}" class="_metric">
                                        <div class="_bar">
                                            <span class="_bar_progress" [ngStyle]="{'height': sub.percentage +'%'}">
                                            </span>
                                        </div>
                                        <div class="_name">
                                            <span class="_legend">{{sub.title}}</span>
                                            {{sub.totalMarks}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </ng-template>
        </section>

    </div>
</main> -->