<main class="card mt-20 within-viewport new-listing">
  <section class="page-actions">
    <div class="_select_div">
      <button class="btn -cta" routerLink="/main/admin/expenses">Expenses</button>
      <button class="btn -cta" routerLink="/main/admin/claims">Claims</button>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left" *ngIf="user.role === 'admin'">Name</th>
            <th align="left">Amount</th>
            <th align="left">Category</th>
            <th align="left">Approved Date</th>
            <th align="left">Payment Date</th>
            <th align="left">Payment Status</th>
            <th align="left" *ngIf="user.role === 'admin'"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exp of expenses | pagination: pageNo; let i=index">
            <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
            <td *ngIf="user.role === 'admin'">{{exp.first_name}}</td>
            <td>Rs. {{exp.amount}}</td>
            <td>{{exp.category}}</td>
            <td>{{exp.approved_date}}</td>
            <td *ngIf="exp.payment_date !== ''">{{exp.payment_date}}</td>
            <td *ngIf="exp.payment_date === ''">
              <span class="_chip -class-running" [ngStyle]="{'background-color': '#d9534f', 'color': 'white' }">No Payment</span>
            </td>
            <td *ngIf="user.role === 'admin'">{{exp.payment_status}}</td>
            <td *ngIf="user.role === 'teacher'">
              <span class="_chip -class-running"
                [ngStyle]="{'background-color': (exp.payment_status === 'completed') ? '#77c284' : '#d9534f', 'color': 'white' }">
                {{exp.payment_status}}</span>
            </td>
            <td *ngIf="user.role === 'admin' && exp.payment_status == 'pending'">   
              <span class="_chip -class-running" [ngStyle]="{'background-color': '#5cb85c', 'color': 'white' }" (click)="update_expense(exp.payment_status, i)">Paid</span>                 
            </td>
            <td *ngIf="user.role === 'admin' && exp.payment_status == 'completed'">                    
              <span class="_chip -class-running" [ngStyle]="{'background-color': '#d9534f', 'color': 'white' }" (click)="update_expense(exp.payment_status, i)">Unpay</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a class="btn -previous">Previous</a>
      <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
      <a class="btn -next">Next</a>
    </div>
  </section>
</main>