<main class="card mt-20 within-viewport new-student-listing">
    <section class="page-actions">
        <div class="_select-or-search">
            <div class="_select-group">
                <app-class *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)"
                    (sectionEvent)="receiveSection($event)"></app-class>
            </div>
            <input type="search" class="search-box" [(ngModel)]="searchText" placeholder="Search for Student">
        </div>
        <!-- <div class="add_div">
            <button class="btn -cta" (click)="addStudent()">Add Student</button>
        </div> -->

    </section>
    <section class="table-and-pagination -classes-schedule">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Roll</th>
                        <th align="left">Student Name</th>
                        <th align="left">Father/Guardian Name</th>
                        <th align="left">Roll No</th>
                        <th align="left">Payment Mode</th>
                        <th align="left" *ngIf="user.role === 'admin'">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of students | search : searchText | pagination: pageNo; let i=index">
                        <td class="_s-no"><span>{{ page_start + i + 1 }}.</span></td>
                        <td align="left"><a
                                routerLink="/main/studentprofile/profile/{{std.student_id}}/{{std.section_id}}">{{std.first_name}}
                                {{std.last_name}}</a></td>
                        <td>{{std.father_name}}</td>
                        <td>{{std.roll_no}}</td>
                        <td>
                            <select class="form-control" [(ngModel)]="std.payment_mode">
                                <option value="termwise">Termwise</option>
                                <option value="monthly">Monthly</option>
                                <option value="quarterly">Quarterly</option>
                                <option value="halfyearly">Halfyearly</option>
                                <option value="annually">Annually</option>
                            </select>
                            <button class="btn -cta" (click)="addPaymentMode(std.student_id, std.payment_mode, std.phone, std.email)">Submit</button>
                        </td>
                        <!-- <td>
                            <div class="dropdown">
                                <button class="dropbtn" (click)="showPaymentList = true" (clickOutside)="showPaymentList = false">
                                    {{!std.payment_mode ? 'select Mode' : std.payment_mode}}
                                </button>
                                <div class="dropdown-content" [hidden]="!showPaymentList">
                                    <a (click)="std.payment_mode = 'termwise';">Termwise</a>
                                    <a (click)="std.payment_mode = 'monthly';">Monthly</a>
                                    <a (click)="std.payment_mode = 'quarterly';">Quarterly</a>
                                    <a (click)="std.payment_mode = 'halfyearly';">Halfyearly</a>
                                    <a (click)="std.payment_mode = 'annually';">Annually</a>
                                </div>
                            </div>
                        </td> -->
                        <td><button class="btn -cta" routerLink="/main/fee/collectfee/{{std.student_id}}">Student Fee</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="_pagination">
            <a class="btn -previous">Previous</a>
            <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}"
                *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
            <a class="btn -next">Next</a>
        </div>
    </section>
</main>