<main class="card mt-20 within-viewport mailbox">
    <!-- <section class="page-actions">
        <div class="_select_div">
            <button class="btn -cta" (click)="getInbox()">Inbox</button>
            <button class="btn -cta" (click)="getOutbox()">Outbox</button>
        </div>
        <div class="add_div">
            <button class="btn -cta" (click)="addMessage()">Compose</button>
        </div>
    </section>
    <section class="table-and-pagination -classes-schedule">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th align="left">Subject</th>
                        <th align="left" *ngIf="title === 'Inbox Messages'">Received From</th>
                        <th align="left" *ngIf="title === 'Outbox Messages'">Sent To</th>
                        <th align="left">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sub of messages; let i=index">
                        <td class="_s-no"><span>{{ i + 1 }}</span></td>
                        <td><a (click)="openMessage(sub.message_id)">{{sub.subject}}</a></td>
                        <td *ngIf="title === 'Inbox Messages'">{{sub.sender_name}}</td>
                        <td *ngIf="title === 'Outbox Messages'">{{sub.receiver}}</td>
                        <td>{{sub.posted_on}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="_pagination">
            <a href="" class="btn -previous">Previous</a>
            <a href="" class="btn -current">1</a>
            <a href="" class="btn">2</a>
            <a href="" class="btn">3</a>
            <a href="" class="btn">4</a>
            <a href="" class="btn">5</a>
            <a href="" class="btn">6</a>
            <a href="" class="btn">7</a>
            <a href="" class="btn">8</a>
            <a href="" class="btn">9</a>
            <a href="" class="btn">10</a>
            <a href="" class="btn -next">Next</a>
        </div>
    </section> -->

    <div class="mail-setcion-wrapper">
        <div class="mails-list-wrapper">
            <input type="text" class="search-box" name="mailSearchCriteria" placeholder="Search message">
            <div class="mail-list">
                <div *ngFor="let mail of messages" (click)="selectedMail = mail" 
                class="mail-short-detail-wrapper"
                [ngClass]="selectedMail._id === mail._id ? 'selected-mail' : ''">
                    <p class="mail-from">{{mail.sender_name}}</p>
                    <p class="mail-subject">{{mail.subject}}</p>
                    <p class="mail-content-short">{{mail.message}}</p>
                    <p class="mail-day">Tuesday</p>
                    <p class="mail-date-time">{{mail.posted_on}}</p>
                    <span class="mail-read-flag" *ngIf="isInbox"
                    [ngClass]="mail.status === 1 ? 'mail-read' : 'mail-unread'"></span>
                    <span class="mail-read-flag" *ngIf="!isInbox"
                    [ngClass]="mail.status === 1 ? 'mail-sent' : 'mail-unsent'"></span>
                </div>
            </div>
            <div class="blank-wrapper">
                
            </div>
        </div>

        <div class="mail-content-wrapper">
            <div class="inbox-outbox-btn-wrapper">
                <button class="box-selection-btn" 
                [ngClass]="isInbox ? 'selected': ''" 
                (click)="getInbox(); isInbox = true;">Inbox</button>

                <button class="box-selection-btn" 
                [ngClass]="!isInbox ? 'selected': ''" 
                (click)="getOutbox(); isInbox = false;">Outbox</button>

                <div class="compose-wrapper">
                    <button (click)="addMessage()" class="compose-btn">Compose</button>
                </div>

            </div>
            <div class="mail-body-wrapper">
                <div class="mail-content" *ngIf="selectedMail">
                    <span class="mail-body-icon">
                        <img _ngcontent-ttv-c6="" src="../../../assets/images/man2.jpg">
                    </span>
                    <span class="mail-body-from-name">{{selectedMail.sender_name}}</span>
                    <p class="mail-body-day">Tuesday</p>
                    <p class="mail-body-date-time">{{selectedMail.posted_on}}</p>
                    <p class="mail-to-desc">To : {{selectedMail.sent_to}}</p>
                    <p class="mail-body-subject">{{selectedMail.subject}}</p>
                    <p class="mail-body">{{selectedMail.message}}</p>
                    <span class="mail-body-read-flag" *ngIf="!isInbox"
                    [ngClass]="selectedMail.status === 1 ? 'mail-sent' : 'mail-unsent'"></span>
                </div>
            </div>
            <button class="mail-body-reply-btn" *ngIf="selectedMail">Click here to reply</button>
        </div>
    </div>
</main>