<main class="card mt-20 within-viewport">
    <section class="page-actions">
        <div class="_select_div">
            <button class="btn -cta" (click)="getInbox()">Inbox</button>
            <button class="btn -cta" (click)="getOutbox()">Outbox</button>
        </div>
        <div class="add_div">
            <button class="btn -cta" (click)="addMessage()">Compose</button>
        </div>
    </section>
    <section class="table-and-pagination -classes-schedule">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th align="left">Subject</th>
                        <th align="left" *ngIf="title === 'Inbox Messages'">Received From</th>
                        <th align="left" *ngIf="title === 'Outbox Messages'">Sent To</th>
                        <th align="left">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sub of messages; let i=index">
                        <td class="_s-no"><span>{{ i + 1 }}</span></td>
                        <td><a (click)="openMessage(sub.message_id)">{{sub.subject}}</a></td>
                        <td *ngIf="title === 'Inbox Messages'">{{sub.sender_name}}</td>
                        <td *ngIf="title === 'Outbox Messages'">{{sub.receiver}}</td>
                        <td>{{sub.posted_on}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="_pagination">
            <a href="" class="btn -previous">Previous</a>
            <a href="" class="btn -current">1</a>
            <a href="" class="btn">2</a>
            <a href="" class="btn">3</a>
            <a href="" class="btn">4</a>
            <a href="" class="btn">5</a>
            <a href="" class="btn">6</a>
            <a href="" class="btn">7</a>
            <a href="" class="btn">8</a>
            <a href="" class="btn">9</a>
            <a href="" class="btn">10</a>
            <a href="" class="btn -next">Next</a>
        </div>
    </section>
</main>