<div id="main-content">

    <div class="row">
        <div class="container-fluid dashboard-content">
            <div class="card selectcard">
                <div class="searchForm" *ngIf="user.role === 'admin'">
                    <button (click)="addMessage()" class="button button1 hvr-pop transition">Compose</button>
                </div>
                <div class="searchForm">
                    <button (click)="getInbox()" class="button button1 hvr-pop transition">Inbox</button>
                </div>
                <div class="searchForm">
                    <button (click)="getOutbox()" class="button button1 hvr-pop transition">Outbox</button>
                </div>
                <!-- <form class="searchForm" role="form" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                    <div class="form-group">
                        <label class="pull-left">Message To:</label>
                        <select class="form-control" (change)="getCategory_1()">
                            <option value="" selected>Select Class</option>
                            <option value="employees">Employees</option>
                            <option value="parents">Parents</option>
                        </select>
                    </div>
                    <div>
                        <label class="pull-left">Section</label>
                        <select class="form-control" formControlName="selected_section">
                            <option value="" selected>Select Section</option>
                            <option *ngFor="let sec of class_sections; let i = index" value="{{sec.section_id}}">
                                {{sec.name}}</option>
                        </select>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="button button2 hvr-pop transition">Select</button>
                    </div>
                </form> -->
            </div>
            <div class="card listcard">
                <div *ngIf="user.role === 'admin'">
                    <h4 class="pull-left">{{title}}</h4>
                </div>
                <div class="searchForm">
                    <div class="table-responsive">
                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Subject</th>
                                    <th *ngIf="title === 'Inbox Messages'">From</th>
                                    <th *ngIf="title === 'Outbox Messages'">To</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sub of collection.messages | paginate: config; let i=index">
                                    <td>{{ (config.currentPage - 1) * config.itemsPerPage + i + 1 }}</td>
                                    <td><a (click)="openMessage(sub.message_id)">{{sub.subject}}</a></td>
                                    <td *ngIf="title === 'Inbox Messages'">{{sub.sender_name}}</td>
                                    <td *ngIf="title === 'Outbox Messages'">{{sub.receiver}}</td>
                                    <td>{{sub.posted_on}}</td>
                                    <!-- <td *ngIf="user.role === 'admin'">
                                        <div class="pattrenED">
                                            <div><i class="fa fa-pencil-square" aria-hidden="true"
                                                    (click)="editsubject( (config.currentPage - 1) * config.itemsPerPage + i )"></i>
                                            </div>
                                            <div><i class="fa fa-trash" aria-hidden="true"
                                                    (click)="deleteConfirmation(sub.subject_id)"></i></div>
                                        </div>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationdiv">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>