<div id="main-content">

    <div class="row">
        <div class="container-fluid" id="buttonId1">
            <button routerLink="/main/admin/pendingTasks" class="button button2 hvr-pop transition">Pending
                Tasks</button>
            <button routerLink="/main/admin/completedTasks" class="button button2 hvr-pop transition">Completed
                Tasks</button>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid dashboard-content">
            <div class="card listcard taskcard">
                <div>
                    <h4 class="pull-left">Completed Tasks</h4>
                    <button class="button button1 btnalign hvr-pop transition pull-right" (click)="addTask()" *ngIf="user.role === 'admin'">Add Task</button>
                </div>
                <div class="searchForm">
                    <div class="table-responsive">
                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th *ngIf="user.role === 'admin'">Department</th>
                                    <th *ngIf="user.role === 'admin'">Assigned To</th>
                                    <th>Priority</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                    <th class="pull-right" *ngIf="user.role === 'admin'">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let task of collection.tasks | paginate: config; let i=index">
                                    <td>{{ (config.currentPage - 1) * config.itemsPerPage + i +1 }}</td>
                                    <td>{{task.task}}</td>
                                    <td *ngIf="user.role === 'admin'">{{task.department}}</td>
                                    <td *ngIf="user.role === 'admin'">{{task.employee_name}}</td>
                                    <td>{{task.priority}}</td>
                                    <td>{{task.assigned_on}}</td>
                                    <td *ngIf="user.role === 'admin' || user.role === 'teacher'"><button
                                            class="button button2 hvr-pop transition"
                                            [ngStyle]="{'background-color': (task.task_status == 'pending') ? '#d9534f' : '#5cb85c', 'color': 'white' }"
                                            (click)="update_status(task.task_status, i)">{{task.task_status}}</button>
                                    </td>
                                    <td *ngIf="user.role === 'parent'">{{task.task_status}}</td>
                                    <td class="pull-right" *ngIf="user.role === 'admin'">
                                        <div class="pattrenED">
                                            <div><i class="fa fa-pencil-square" aria-hidden="true" (click)="editTask((config.currentPage - 1) * config.itemsPerPage + i)"></i></div>
                                            <div><i class="fa fa-trash" aria-hidden="true" (click)="deleteTask(task.task_id)"></i></div>
                                            </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationdiv">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>