<main class="card mt-20 within-viewport new-listing">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-chapter *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)" (subjectEvent)="receiveSubject($event)" (chapterEvent)="receiveChapter($event)"></app-chapter>
        <app-teacher-chapter *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)" (subjectEvent)="receiveSubject($event)" (chapterEvent)="receiveChapter($event)"></app-teacher-chapter>
      </div>
    </div>
    <div class="add_div">
      <button class="btn -cta" (click)="addTopic()" *ngIf="user.role === 'admin'">Add Topic</button>
    </div>
  </section>

  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Topic Name</th>
            <th align="left">Status</th>
            <th align="left" *ngIf="user.role === 'admin' || user.role === 'teacher'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ts of topics | pagination: pageNo; let i=index">
            <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
            <td>{{ts.topic_name}}</td>
            <td *ngIf="user.role === 'admin' || user.role === 'teacher'"><span class="_chip" [ngClass]="{'-class-pending': ts.topic_status === 'pending', '-class-running': ts.topic_status === 'completed'}" (click)="update_status(ts.topic_status, i)">{{ts.topic_status}}</span></td>
            <td *ngIf="user.role === 'parent'"><span class="_chip" [ngClass]="{'-class-pending': ts.topic_status === 'pending', '-class-running': ts.topic_status === 'completed'}">{{ts.topic_status}}</span></td>
            <td class="_actions" *ngIf="user.role === 'admin' || user.role === 'teacher'">
              <button class="btn" (click)="editTopic(page_start + i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteTopic(ts.topic_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a class="btn -previous">Previous</a>
      <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
      <a class="btn -next">Next</a>
    </div>
  </section>
</main>