<!-- <div id="main-content">

    <div class="row">
        <div class="container-fluid" id="buttonId1">
            <button routerLink="/main/projectworks/PWByDate" class="button button2 hvr-pop transition">ProjectWorks By
                Date</button>
            <button routerLink="/main/projectworks/PWAddMarks" class="button button2 hvr-pop transition">ProjectWorks Marks</button>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid dashboard-content">
            <div class="card selectcard">
                <app-subject *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"
                    (subjectEvent)="receiveSubject($event)"></app-subject>
                <app-teacher-subject *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"
                    (subjectEvent)="receiveSubject($event)"></app-teacher-subject>
                <div class="searchForm">
                    <div class="form-group">
                        <label class="pull-left">Projectwork</label>
                        <select class="form-control" [(ngModel)]="selected_projectwork">
                            <option>select...</option>
                            <option *ngFor="let pw of projectworks; let i = index" value="{{pw.projectwork_id}}">
                                {{pw.project_work}}</option>
                        </select>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="button button1 hvr-pop transition" (click)="getProjectwork_marks()">Search</button>
                    </div>
                </div>
            </div>

            <div class="card listcard">
                <div class="pull-left">
                    <h4>Projectwork Marks</h4>
                </div>
                <div class="searchForm">
                    <div class="table-responsive">
                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student</th>
                                    <th>Marks Obtained</th>
                                    <th *ngIf="!marks_add">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stu of collection.students | paginate: config; let i=index">
                                    <td>{{ (config.currentPage - 1) * config.itemsPerPage + i +1 }}</td>
                                    <td>{{stu.first_name}}</td>
                                    <td><input class="form-control" placeholder="Enter..." [(ngModel)]="stu.marks"
                                            type="number"></td>
                                    <td *ngIf="!marks_add">
                                        <div class="pattrenED">
                                            <button (click)="editMarks(stu.projectwork_result_id, stu.marks )" class="button button1 hvr-pop transition">Edit Marks</button>
                                          </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationdiv">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                          </div>
                        <div class="form-group pull-right" *ngIf="marks_add">
                            <button type="submit" class="button button1 hvr-pop transition"
                                (click)="addProjectwork_marks()">Add Marks</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<main class="card mt-20 within-viewport new-listing">
    <section class="page-actions">
      <div class="_select-or-search">
        <h2 *ngIf="data_type === 'add'">Add Projectwork Marks</h2>
        <h2 *ngIf="data_type === 'view'">View Projectwork Marks</h2>
      </div>
      <button class="btn -cta" (click)="addProjectwork_marks()">Submit</button>
    </section>
    <section class="table-and-pagination -classes-schedule">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th align="left">#</th>
              <th align="left">Student</th>
              <th align="left">Marks Obtained</th>
              <th align="left" *ngIf="data_type === 'view'">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stu of students | pagination: pageNo; let i = index">
              <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
              <td>{{stu.first_name}}</td>
              <td><input class="form-control" placeholder="Enter..." [(ngModel)]="stu.marks" type="number"></td>
              <td *ngIf="data_type === 'view'">
                <button class="btn -cta" (click)="editMarks(stu.projectwork_result_id, stu.marks)">Edit Marks</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="_pagination">
        <a class="btn -previous">Previous</a>
        <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
        <a class="btn -next">Next</a>
      </div>
    </section>
  </main>