<div class="row">
    <div class="container-fluid dashboard-content">
        <div class="card dashboard-attendance1">
            <div class="form-group">
                <button class="button button2 hvr-pop transition" id="buttonId2" *ngFor="let cls of all_attendance; let i = index"
                    (click)="getDay_attendance(cls[0].classId)">{{cls[0].className}}</button>
            </div>
            <div class="table-responsive">
                <table style="width:100%;">
                    <tbody>
                        <tr *ngFor="let sec of day_attendance[0].sections; let j = index">
                            <th style="padding-left: 50px;">
                                Section: {{sec[0].sectionName}}
                            </th>
                            <td>
                                <label>Present: <b>{{sec[0].attendance.present}}</b></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': (sec[0].attendance.presentPercent) + '%'}">
                                        {{sec[0].attendance.presentPercent}} %
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label>Absent: <b>{{sec[0].attendance.absent}}</b></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': (sec[0].attendance.absentPercent) + '%'}">
                                        {{sec[0].attendance.absentPercent}} %
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label>On Leave: <b>{{sec[0].attendance.onLeave}}</b></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': (sec[0].attendance.onLeavePercent) + '%'}">
                                        {{sec[0].attendance.onLeavePercent}} %
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>