<main class="card mt-20 within-viewport new-listing">
    <section class="page-actions">
        <div class="_select-or-search">
            <div class="_select-group">
                <app-subject *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)"
                    (sectionEvent)="receiveSection($event)" (subjectEvent)="receiveSubject($event)"></app-subject>
                <app-teacher-subject *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)"
                    (sectionEvent)="receiveSection($event)" (subjectEvent)="receiveSubject($event)">
                </app-teacher-subject>
            </div>
            <input type="search" name="" placeholder="Search">
        </div>
        <button class="btn -cta" (click)="addprojectwork()">Add ProjectWork</button>
    </section>
    <section class="table-and-pagination -classes-schedule">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th align="left">Project Works</th>
                        <th align="left">Due Date</th>
                        <th align="left">Max Marks</th>
                        <th></th>
                        <th align="left" *ngIf="user.role === 'admin' || user.role === 'teacher'">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pw of projectworks | pagination: pageNo; let i=index">
                        <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
                        <td>{{pw.project_work}}</td>
                        <td>{{pw.due_date}}</td>
                        <td>{{pw.maxMarks}}</td>
                        <td *ngIf="pw.submission === 'pending'">
                            <button class="btn -cta" routerLink="/main/projectworks/PWMarks/add/{{pw.section_id}}/{{pw.subject_id}}/{{pw.projectwork_id}}">Add Marks</button>
                          </td>
                          <td *ngIf="pw.submission === 'completed'">
                            <button class="btn -cta" routerLink="/main/projectworks/PWMarks/view/{{pw.section_id}}/{{pw.subject_id}}/{{pw.projectwork_id}}">View Marks</button>
                          </td>
                        <td class="_actions" *ngIf="user.role === 'admin' || user.role === 'teacher'">
                            <button class="btn" (click)="editprojectwork(i)"><img
                                    src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
                            <button class="btn" (click)="deleteprojectwork(pw.projectwork_id)"><img
                                    src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="_pagination">
            <a class="btn -previous">Previous</a>
            <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
            <a class="btn -next">Next</a>
        </div>
    </section>
</main>