<div class="header-content">
  <div class="page-title-and-time">
    <div class="_page-title">Dashboard</div>
    <div class="_time">Monday, 21 April 2020, 12:21 PM</div>
  </div>
  <div class="account">
    <button type="button" class="_actions-trigger" aria-expanded="false">
      <img src="../../../assets/images/man2.jpg" alt="Your account">
    </button>
    <div class="_profile-and-actions">
      <div class="_profile">
        <img src="../../../assets/images/man2.jpg" alt="" class="_pic">
        <div class="_name">Madgul Bala Krishna</div>
      </div>
      <div class="_actions">
        <a href="" class="_item">
          <span class="_icon">
            <img src="../../../assets/images/message-square@3x.png" alt="Messages">
          </span>
          <span class="_text">Messages</span>
        </a>
        <a href="" class="_item">
          <span class="_icon">
            <img src="../../../assets/images/bell@3x.png" alt="Notifications">
          </span>
          <span class="_text">Notifications</span>
        </a>
        <a href="" class="_item">
          <span class="_icon">
            <img src="../../../assets/images/log-out@3x.png" alt="Logout">
          </span>
          <span class="_text">Logout</span>
        </a>
      </div>
    </div>
  </div>
</div>

