@media (min-width: 279px) and (max-width: 575px){
    
    .formalign {
        margin: 5% 0 0 5%;
    }
    .leftcard {
        height: 390px !important;
        width: 100%;
        background-color: white;
        }
    .rightcard {
        width: 100%;
        background-color: white;
        height: 390px !important;
        margin-bottom: 2%;
        }
    canvas{
        margin: 15px 0px 0px 0px;
        height: 370px !important;
    } 
    .form-control{
        width: 95%;
    } 
}

@media (min-width: 576px) and (max-width: 767px){
    
    .formalign {
        margin: 3% 0 0 5%;
        width: 90%;
    }
    .leftcard {
        height: 390px !important;
        width: 100%;
        background-color: white;
        }
    .rightcard {
        width: 100%;
        background-color: white;
        height: 390px !important;
        margin-bottom: 2%;
        }
    canvas{
        margin: 15px 0px 0px 0px;
        height: 370px !important;
    }  
}

@media (min-width: 768px) and (max-width: 991px){
    
    .formalign {
        margin: 3% 0 0 5%;
        width: 90%;
    }
    .leftcard {
        height: 390px !important;
        width: 100%;
        background-color: white;
        }
    .rightcard {
        width: 100%;
        background-color: white;
        height: 390px !important;
        margin-bottom: 2%;
        }
    canvas{
        margin: 15px 0px 0px 0px;
        height: 370px !important;
    }  
}

@media (min-width: 992px) and (max-width: 1199px){
    .cardsryt{
        margin-right: 2%;
    }
    .formalign {
        margin: 5% 0 0 5%;
    }
    .leftcard {
        height: 390px !important;
        width: 50%;
        background-color: white;
        }
    .rightcard {
        width: 50%;
        background-color: white;
        height: 390px !important;
        }
    canvas{
        margin: 15px 0px 0px 0px;
        height: 370px !important;
    }  
}

@media (min-width: 1200px){
    .cardsryt{
        margin-right: 2%;
    }
    .formalign {
        margin: 5% 0 0 5%;
    }
    .leftcard {
        /*height: 390px !important;*//* commented by amruta temporarily*/
        width: 50%;
        background-color: white;
        }
    .rightcard {
        width: 50%;
        background-color: white;
        height: 390px !important;
        }
    canvas{
        margin: 15px 0px 0px 0px;
        height: 370px !important;
    }  
}