<div class="login">
    <div class="side-image">
        <img src="../../assets/images/new-login-img.png" alt="ProSchool">
    </div>
    <div class="login-form-wrapper">
        <div class="wrap-login100">
            <img src="../../assets/images/new-login-logo.png" alt="ProSchool">
            <h1 class="login-heading"><b>Welcome Back,</b> Please login to your accound</h1>

            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <input class="login-fields" type="email" id="loginEmailId" formControlName="email" placeholder="Username">
                <span class="help-block" [ngClass]="[loginForm.get('email').errors 
                && (loginForm.get('email').touched || loginForm.get('email').dirty) ? 'visible' : '']">
                    <span *ngIf="loginForm.get('email').errors.required">
                        Username is required
                    </span>
                </span>
                
                <div class="space-row"></div>
               
                <input class="login-fields" type="password" id="loginPassword" formControlName="password" placeholder="Password">
                <span class="help-block" [ngClass]="[loginForm.get('password').errors 
                && (loginForm.get('password').touched || loginForm.get('password').dirty) ? 'visible' : '']">
                    <span *ngIf="loginForm.get('password').errors.required">
                        Password is required
                    </span>
                </span>
                
                <div class="space-row"></div>

                <div class="container-login100-form-btn">
                    <label class="switch remember-me">
                        <input type="checkbox" [(ngModel)]="isRememberMe">
                        <span class="slider start round"></span>
                    </label>
                    <span class="remember-me-title" (click)="isRememberMe = !isRememberMe">Remember me</span>

                    
                    <!-- <a class="registration-link" (click)="RegistrationPage()">
                        Registration
                    </a> -->

                    <a class="forgot-pwd-link" href="#">
                        Forgot Password
                    </a>
                    
                </div>
                <button type="submit" class="login-btn">
                    sign in
                </button>
                
            </form>
        </div>
    </div>
</div>