.tasks-events-notices-expenses ._tab-group button.selected-tab {
	background-color: #5E81F4;
    color: #FFFFFF;
}

.event-content {
    margin: 10px 5px 10px 0;
    border-bottom: 1px solid #eee;
}

.event-content:first-child {
    margin-top: 20px;
}

.event-content:last-child {
    border-bottom: 0;
}

.event-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.event-date {
    margin: 0;
    font-size: 12px;
    color: #5E81F4;
}

.event-desc {
    margin: 10px 0;
    font-size: 13px;
}