<div id="main-content1" class="new-message-wrapper" *ngIf="dialog_type === 'class'">
    <div class="header-wrapper">
        <p *ngIf="submit_type === 'add'">Add Class</p>
        <p *ngIf="submit_type === 'edit'">Edit Class</p>
        <button class="btn-close" (click)="close()"></button>
    </div>
    <form class="form-inline" role="form" [formGroup]="classForm" (ngSubmit)="submitClass()">
        <div class="row-wrapper">

            <div class="col-full-3">
                Class Name :
            </div>
            <div class="col-full-6">
                <input type="text" class="inpbox" value="{{class.name}}" formControlName="name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pull-right">
                <button class="btn -cta active-tab" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<div id="main-content1" class="new-message-wrapper" *ngIf="dialog_type === 'section'">
    <div class="header-wrapper">
        <p *ngIf="submit_type === 'add'">Add Section</p>
        <p *ngIf="submit_type === 'edit'">Edit Section</p>
        <button class="btn-close" (click)="close()"></button>
    </div>
    <form class="form-inline" role="form" [formGroup]="sectionForm" (ngSubmit)="submitSection()">
        <div class="row-wrapper">
            <div class="col-full-3">
                Section Name :
            </div>
            <div class="col-full-6">
                <input type="text" class="inpbox" value="{{section.name}}" formControlName="name">
            </div>
        </div>
        <div class="row-wrapper">
            <div class="col-full-3">
                Class Teacher :
            </div>
            <div class="col-full-6">
                <select formControlName="teacher_name" [value]="section.employee_id">
                    <option>select...</option>
                    <option *ngFor="let tch of teachers" value="{{tch.employee_id}}">{{tch.first_name}}</option>
                </select>

                <!-- <div class="dropdown">
                    <button class="dropbtn" (click)="showTeacherList = true" (clickOutside)="showTeacherList = false">
                        {{!selected_teacher.first_name ? '--Select--' : selected_teacher.first_name}}
                    </button>
                    <div class="dropdown-content" [hidden]="!showTeacherList">
                        <a (click)="selected_teacher = '';">--Select--</a>
                        <a *ngFor="let tch of teachers;"
                            (click)="selected_teacher = tch.employee_id; getSent_to('employees');">{{tch.first_name}}
                            {{tch.last_name}}</a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pull-right">
                <button class="btn -cta active-tab" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
