<div id="main-content1">
  <div class="blue-top-bar"></div>
  <div class="row-wrapper center-content">
      <button class="btn -cta" [ngClass]="[studentdetails ? 'active-tab': 'inactive-tab']" (click)="get_studentForm('studentdetails')">Student
        Details</button>
      <button class="btn -cta" [ngClass]="[parentdetails ? 'active-tab': 'inactive-tab']" (click)="get_studentForm('parentdetails')">Parent/Guardian
        Details</button>
      <button class="btn -cta" [ngClass]="[address ? 'active-tab': 'inactive-tab']" (click)="get_studentForm('address')">Address</button>
      <!-- <button class="button button2 hvr-pop transition">Bulk Student Admission</button> -->
  </div>

  <!-- <div>
    <form>
      <div class="row alignrow">
        <div class="col-md-3">
          <div class="form-group">
            <label class="pull-left">Class</label>
            <select  class="inpbox" class="form-control" >
              <option>select...</option>
              <option value="">1</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="pull-left">Section</label>
            <select  class="inpbox" class="form-control" >
              <option>select...</option>
              <option value="">1</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="pull-left">Excel Files</label>
            <div class="fileup">
              <input type="file">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="excelimg">
              <img src="../../../assets/images/xlsx6.png" alt="" width="30px" height="30px">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button class="button button1 hvr-pop transition" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div> -->

  <form [formGroup]="sudentadmissionForm" >

    <div *ngIf="studentdetails">
      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('admission_no').errors 
            && (sudentadmissionForm.get('admission_no').touched || sudentadmissionForm.get('admission_no').dirty)}">
            <label class="heading">Admission No*</label>
            <div>
              <input class="inpbox" type="text" formControlName="admission_no" [(ngModel)]="student.admission_no">
              <span class="help-block" *ngIf="sudentadmissionForm.get('admission_no').errors 
          && (sudentadmissionForm.get('admission_no').touched || sudentadmissionForm.get('admission_no').dirty)">
                <span *ngIf="sudentadmissionForm.get('admission_no').errors.required">
                  Admission Number is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('roll_no').errors 
            && (sudentadmissionForm.get('roll_no').touched || sudentadmissionForm.get('roll_no').dirty)}">
            <label class="heading">Roll No*</label>
            <div><input type="text" class="inpbox" formControlName="roll_no" [(ngModel)]="student.roll_no">
              <span class="help-block" *ngIf="sudentadmissionForm.get('roll_no').errors 
                && (sudentadmissionForm.get('roll_no').touched || sudentadmissionForm.get('roll_no').dirty)">
                <span *ngIf="sudentadmissionForm.get('roll_no').errors.required">
                  Roll Number is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Class*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showClassList = true"
              (clickOutside)="showClassList = false">
                  {{!selectedClass ? '--Select--' : selectedClass.name}}
              </button>
              <div class="dropdown-content" [hidden]="!showClassList">
                <a (click)="selectedClass = '';sectionChange();">--Select--</a>
                <a *ngFor="let school_classes of classes"
                  (click)="selectedClass = school_classes;sectionChange();">{{school_classes.name}}</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="class_id" (change)="sectionChange()">
              <option value="">--Select--</option>
              <option [(ngModel)]="school_classes.class_id" *ngFor="let school_classes of classes">{{school_classes.name}}
              </option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Section*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showSectionList = true"
              (clickOutside)="showSectionList = false">
                  {{!selectedSection ? '--Select--' : selectedSection.name}}
              </button>
              <div class="dropdown-content" [hidden]="!showSectionList">
                <a (click)="selectedSection = '';">--Select--</a>
                <a *ngFor="let section of sections" 
                (click)="selectedSection = section">{{section.name}}</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="section_id" [(ngModel)]="student.section_id">
              <option value="">--Select--</option>
              <option [(ngModel)]="section.section_id" *ngFor="let section of sections">{{section.name}}</option>
            </select> -->
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('first_name').errors 
            && (sudentadmissionForm.get('first_name').touched || sudentadmissionForm.get('first_name').dirty)}">
            <label class="heading">First Name*</label>
            <div><input class="inpbox" type="text" formControlName="first_name" [(ngModel)]="student.first_name">
              <span class="help-block" *ngIf="sudentadmissionForm.get('first_name').errors 
                && (sudentadmissionForm.get('first_name').touched || sudentadmissionForm.get('first_name').dirty)">
                <span *ngIf="sudentadmissionForm.get('first_name').errors.required">
                  First Name is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('last_name').errors 
            && (sudentadmissionForm.get('last_name').touched || sudentadmissionForm.get('last_name').dirty)}">
            <label class="heading">Last Name*</label>
            <div><input type="text" class="inpbox" formControlName="last_name" [(ngModel)]="student.last_name">
              <span class="help-block" *ngIf="sudentadmissionForm.get('last_name').errors 
                && (sudentadmissionForm.get('last_name').touched || sudentadmissionForm.get('last_name').dirty)">
                <span *ngIf="sudentadmissionForm.get('last_name').errors.required">
                  Last Name is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Gender*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showGenderList = true"
              (clickOutside)="showGenderList = false">
                  {{!selectedGender ? '--Select--' : selectedGender}}
              </button>
              <div class="dropdown-content" [hidden]="!showGenderList">
                <a (click)="selectedGender = '';">--Select--</a>
                <a (click)="selectedGender = 'Male';">Male</a>
                <a (click)="selectedGender = 'Female';">Female</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="gender">
              <option value="">--Select--</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('dob').errors 
            && (sudentadmissionForm.get('dob').touched || sudentadmissionForm.get('dob').dirty)}">
            <label class="heading">Date of Birth*</label>
              <input type="text" formControlName="dob" [(ngModel)]="student.dob" placeholder="DD/MM/YYYY" inputmode="numeric" autocomplete="off"  class="form-control" (keyup)="addSlashToDOB($event)" (blur)="validateDate(student.dob)" />
              <span class="help-block" *ngIf="sudentadmissionForm.get('dob').errors 
            && (sudentadmissionForm.get('dob').touched || sudentadmissionForm.get('dob').dirty)">
                <span *ngIf="sudentadmissionForm.get('dob').errors.required">
                  DOB is required
                </span>
              </span>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Category*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showCategoryList = true"
              (clickOutside)="showCategoryList = false">
                  {{!selectedCategory ? '--Select--' : selectedCategory}}
              </button>
              <div class="dropdown-content" [hidden]="!showCategoryList">
                <a (click)="selectedCategory = '';">--Select--</a>
                <a (click)="selectedCategory = 'OC'">OC</a>
                <a (click)="selectedCategory = 'OBC'">OBC</a>
                <a (click)="selectedCategory = 'BC-A'">BC-A</a>
                <a (click)="selectedCategory = 'BC-B'">BC-B</a>
                <a (click)="selectedCategory = 'BC-C'">BC-C</a>
                <a (click)="selectedCategory = 'BC-D'">BC-D</a>
                <a (click)="selectedCategory = 'Minority'">Minority</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="category">
              <option value="">--Select--</option>
              <option value="OC">OC</option>
              <option value="OBC">OBC</option>
              <option value="BC-A">BC-A</option>
              <option value="BC-B">BC-B</option>
              <option value="BC-C">BC-C</option>
              <option value="BC-D">BC-D</option>
              <option value="Minority">Minority</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('nationality').errors 
            && (sudentadmissionForm.get('nationality').touched || sudentadmissionForm.get('nationality').dirty)}">
            <label class="heading">Nationality*</label>
            <div><input type="text" class="inpbox" formControlName="nationality" [(ngModel)]="student.nationality">
              <span class="help-block" *ngIf="sudentadmissionForm.get('nationality').errors 
            && (sudentadmissionForm.get('nationality').touched || sudentadmissionForm.get('nationality').dirty)">
                <span *ngIf="sudentadmissionForm.get('nationality').errors.required">
                  Nationality is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('phone').errors 
            && (sudentadmissionForm.get('phone').touched || sudentadmissionForm.get('phone').dirty)}">
            <label class="heading">Contact No*</label>
            <div>
              <input type="text" class="inpbox" formControlName="phone" [(ngModel)]="student.phone" placeholder="" maxlength="10" inputmode="numeric" autocomplete="off" (keyup)="isMobileValid()" class="form-control"/>
              <span class="help-block" *ngIf="sudentadmissionForm.get('phone').errors 
            && (sudentadmissionForm.get('phone').touched || sudentadmissionForm.get('phone').dirty)">
                <span *ngIf="sudentadmissionForm.get('phone').errors.required">
                  Phone Number is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('aadhar_no').errors 
            && (sudentadmissionForm.get('aadhar_no').touched || sudentadmissionForm.get('aadhar_no').dirty)}">
            <label class="heading">Aadhaar No*</label>
            <div>
              <input type="text" class="inpbox" formControlName="aadhar_no" [(ngModel)]="student.aadhar_no">
              <span class="help-block" *ngIf="sudentadmissionForm.get('aadhar_no').errors 
            && (sudentadmissionForm.get('aadhar_no').touched || sudentadmissionForm.get('aadhar_no').dirty)">
                <span *ngIf="sudentadmissionForm.get('aadhar_no').errors.required">
                  Aadhar Number is required
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Blood Group*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showBloodGroupList = true"
              (clickOutside)="showBloodGroupList = false">
                  {{!selectedBloodGroup ? '--Select--' : selectedBloodGroup}}
              </button>
              <div class="dropdown-content" [hidden]="!showBloodGroupList">
                <a (click)="selectedBloodGroup = '';">--Select--</a>
                <a (click)="selectedBloodGroup = 'O+'">O+</a>
                <a (click)="selectedBloodGroup = 'O-'">O-</a>
                <a (click)="selectedBloodGroup = 'A+'">A+</a>
                <a (click)="selectedBloodGroup = 'A-'">A-</a>
                <a (click)="selectedBloodGroup = 'B+'">B+</a>
                <a (click)="selectedBloodGroup = 'B-'">B-</a>
                <a (click)="selectedBloodGroup = 'AB+'">AB+</a>
                <a (click)="selectedBloodGroup = 'AB-'">AB-</a>
                <a (click)="selectedBloodGroup = 'NA'">NA</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="blood_group" [(ngModel)]="student.blood_group">
              <option value="">--Select--</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="NA">NA</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('admission_date').errors 
            && (sudentadmissionForm.get('admission_date').touched || sudentadmissionForm.get('admission_date').dirty)}">
            <label class="heading">Admission Date*</label>
              <input type="text" formControlName="admission_date" [(ngModel)]="student.admission_date" placeholder="DD/MM/YYYY" inputmode="numeric" autocomplete="off"  class="form-control" (keyup)="addSlashToDOfAdmission($event)" (blur)="validateDate(student.admission_date)" />
              <span class="help-block" *ngIf="sudentadmissionForm.get('admission_date').errors 
            && (sudentadmissionForm.get('admission_date').touched || sudentadmissionForm.get('admission_date').dirty)">
                <span *ngIf="sudentadmissionForm.get('admission_date').errors.required">
                  Admission Date is required
                </span>
              </span>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">School Bus Route</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showBusRouteList = true"
              (clickOutside)="showBusRouteList = false">
                  {{!selectedBusRoute ? '--Select--' : selectedBusRoute}}
              </button>
              <div class="dropdown-content" [hidden]="!showBusRouteList">
                <a (click)="selectedBusRoute = '';">--Select--</a>
                <a (click)="selectedBusRoute = 'Route1'">Route1</a>
                <a (click)="selectedBusRoute = 'Route2'">Route2</a>
              </div>
            </div>
           <!--  <select class="inpbox" formControlName="bus_route_id">
              <option value="">--Select--</option>
              <option value="Route1">Route1</option>
              <option value="Route2">Route2</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Email</label>
            <div><input type="email" class="inpbox" formControlName="email" [(ngModel)]="student.email"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-md-3">
            <div class="form-group">
              <label>Student Photo</label>
              <div>
                <input type="file">
              </div>
            </div>
          </div> -->
        <div class="col-md-3 pull-left">
          <button class="btn -cta active-tab">Save</button>
          <button class="btn -cta inactive-tab" (click)="close()">Cancel</button>
        </div>
        <div class="col-md-3 pull-right">
          <button class="btn -cta active-tab" (click)="get_studentForm('parentdetails')">Next</button>
        </div>
      </div>
    </div>

    <div *ngIf="parentdetails">
      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('father_name').errors 
            && (sudentadmissionForm.get('father_name').touched || sudentadmissionForm.get('father_name').dirty)}">
            <label class="heading">Father Name*</label>
            <div><input class="inpbox" type="text" formControlName="father_name" [(ngModel)]="student.parents[1].parent_name">
              <span class="help-block" *ngIf="sudentadmissionForm.get('father_name').errors 
            && (sudentadmissionForm.get('father_name').touched || sudentadmissionForm.get('father_name').dirty)">
                <span *ngIf="sudentadmissionForm.get('father_name').errors.required">
                  Father Name is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : sudentadmissionForm.get('father_contact').errors 
            && (sudentadmissionForm.get('father_contact').touched || sudentadmissionForm.get('father_contact').dirty)}">
            <label class="heading">Father Phone*</label>
            <div><input type="text" class="inpbox" formControlName="father_contact" [(ngModel)]="student.parents[1].parent_contact">
              <span class="help-block" *ngIf="sudentadmissionForm.get('father_contact').errors 
            && (sudentadmissionForm.get('father_contact').touched || sudentadmissionForm.get('father_contact').dirty)">
                <span *ngIf="sudentadmissionForm.get('father_contact').errors.required">
                  Father Contact is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Father Email</label>
            <input class="inpbox" type="email" formControlName="father_email" [(ngModel)]="student.parents[1].parent_email">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Father Occupation*</label>
            <input class="inpbox" type="text" formControlName="father_occupation" [(ngModel)]="student.parents[1].occupation">
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Mother Name</label>
            <input class="inpbox" type="text" formControlName="mother_name" [(ngModel)]="student.parents[0].parent_name">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Mother Phone</label>
            <input class="inpbox" type="number" formControlName="mother_contact" [(ngModel)]="student.parents[0].parent_contact"></div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Mother Email</label>
            <input class="inpbox" type="email" formControlName="mother_email" [(ngModel)]="student.parents[0].parent_email">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Mother Occupation</label>
            <input class="inpbox" type="text" formControlName="mother_occupation" [(ngModel)]="student.parents[0].occupation">
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Guardian Name</label>
            <input class="inpbox" type="text" formControlName="gaurdian_name" [(ngModel)]="student.parents[2].parent_name">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Guardian Phone</label>
            <input class="inpbox" type="number" formControlName="gaurdian_contact" [(ngModel)]="student.parents[2].parent_contact">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Guardian Email</label>
            <input class="inpbox" type="email" formControlName="gaurdian_email" [(ngModel)]="student.parents[2].parent_email">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Guardian Occupation</label>
            <input class="inpbox" type="text" formControlName="gaurdian_occupation" [(ngModel)]="student.parents[2].occupation">
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Guardian Relation</label>
            <input class="inpbox" type="text" formControlName="gaurdian_relation" [(ngModel)]="student.parents[2].parent_relation">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 pull-left">
          <button class="btn -cta active-tab">Save</button>
          <button class="btn -cta inactive-tab" (click)="close()">Cancel</button>
        </div>
        <div class="col-md-3 pull-right">
          <button class="btn -cta active-tab" (click)="get_studentForm('studentdetails')">Previous</button>
          <button class="btn -cta active-tab" (click)="get_studentForm('address')">Next</button>
        </div>
      </div>
    </div>

    <div *ngIf="address">
      <div class="row-wrapper">
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Current Address :</label>
            <div><textarea formControlName="cur_address" cols="45" rows="10" [(ngModel)]="student.current_address[0].cur_address"></textarea></div>
          </div>
        </div>
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Permanent Address :</label>
            <div><textarea formControlName="perm_address" cols="45" rows="10" [(ngModel)]="student.permanent_address[0].perm_address"></textarea></div>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Create Parent Account</label>
            <div><input type="radio"> Yes <input type="radio"> No </div>
          </div>
        </div> -->
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Upload Photo :</label>
            <input type="file" name="image" (change)="fileProgress($event)" >
            <label>{{studentphoto == '' ? studentphoto : 'No file chosen'}}</label>
          </div>
        </div>
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Upload Documents :</label>
            <input type="file">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 pull-left">
          <button class="btn -cta active-tab" type="submit">Save</button>
          <button class="btn -cta inactive-tab" (click)="close()">Cancel</button>
        </div>
        <div class="col-md-3 pull-right">
          <button class="btn -cta active-tab" (click)="get_studentForm('parentdetails')">Previous</button>
        </div>
      </div>
    </div>

  </form>
  
</div>