<main class="card mt-20 within-viewport new-listing">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)"
          (sectionEvent)="receiveSection($event)"></app-class>
        <app-teacher-class *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)"
          (sectionEvent)="receiveSection($event)"></app-teacher-class>
      </div>
    </div>
    <div class="add_div">
      <button class="btn -cta" routerLink="/main/evaluations/subjectMarks">Subject Marks</button>
      <button class="btn -cta" routerLink="/main/evaluations/marksList">Exam Marks</button>
      <button class="btn -cta" routerLink="/main/evaluations/cumulativeMarks">Cumulative Marks</button>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th align="left">#</th>
            <th align="left">Student</th>
            <th align="left">Roll</th>
            <th align="left">Percentage</th>
            <th align="left">Marks</th>
            <th align="left">Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let std of marks | pagination: pageNo; let i=index">
            <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
            <td>{{std.student_name}}</td>
            <td>{{std.roll_no}}</td>
            <td>
              <div class="hor-progress-wrapper">
                <div class="hor-progress-track">
                  <span class="hor-progress-filled"
                    [ngStyle]="{'background-color': (std.tillDatePercentage >= 80) ? '#5e81f4' : (std.tillDatePercentage < 80 && std.tillDatePercentage >= 60) ? '#77c284' : '#e56761', 'width': std.tillDatePercentage + '%', 'color': '#FFFFFF'}">{{std.tillDatePercentage}}%</span>
                </div>
                <span class="hor-progress-title"></span>
              </div>
            </td>
            <td>{{std.tillDateMarks}}</td>
            <td>
              <div class="_progress"
                [ngStyle]="{'background-color': (std.tillDatePercentage >= 80) ? '#5e81f4' : (std.tillDatePercentage < 80 && std.tillDatePercentage >= 60) ? '#77c284' : '#e56761'}">
                {{std.Grade}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a class="btn -previous">Previous</a>
      <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
      <a class="btn -next">Next</a>
    </div>
  </section>
</main>