<main id="main-content" class="card mt-20 within-viewport">
  
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
        <div class="form-group searchForm dropdown" *ngIf="user.role === 'admin'">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <button (click)="addAttendance()" class="btn -cta">Submit</button>
  </section>

  <section class="table-and-pagination -classes-schedule">
    <div class="attendance-filter-group">
      <button type="submit" class="button btn-attendance-filter bg-green"
        (click)="allAttendance('Present')">Present</button>
      <button type="submit" class="button btn-attendance-filter bg-red"
        (click)="allAttendance('Absent')">Absent</button>
      <button type="submit" class="button btn-attendance-filter bg-yellow" (click)="allAttendance('On Leave')">On
        Leave</button>
    </div>

    <div class="attendance-card-group">
      <div class="attendance-student-card" *ngFor="let std of students; let i = index;">
        <div class="attprofpic">
          <img src="../../../assets/images/student.png" alt="">
        </div>
        <div>
          <div class="nameroll">{{std.first_name}} {{std.last_name}}</div>
          <div class="nameroll">Roll no: {{std.roll_no}}</div>
        </div>
        <div class="attreport">
          <div class="attreportbtn present" (click)="submit(i, 'Present')"
            [ngClass]="{'present-select': std.status === 'Present'}"><span>P</span></div>
          <div class="attreportbtn absent" (click)="submit(i, 'Absent')"
            [ngClass]="{'absent-select': std.status === 'Absent'}"><span>A</span></div>
          <div class="attreportbtn leave" (click)="submit(i, 'On Leave')"
            [ngClass]="{'leave-select': std.status === 'On Leave'}"><span>L</span></div>
        </div>
      </div>
    </div>
  </section>
</main>