.noticeboard-view {
    background: #fff;
    height: 550px;
    padding: 30px;
    width: 800px;
    text-align: center;
    border-radius: 10px;
}

.noticeboard-view .close-btn {
    height: 15px;
    width: 15px;
    padding: 0;
}

.noticeboard-view .close-btn img {
    width: 100%;
}

.noticeboard-view h2.heading {
    color: #000 !important;
    text-transform: uppercase;
}

.noticeboard-view .notice-date {
    margin: 20px 0;
    width: 100%;
    text-align: left;
    font-weight: 600;
    color: #696969;
}

.noticeboard-view p.notice-text {
    text-align: left;
}

.noticeboard-view .signature-box {
    font-weight: 600;
    color: #696969;
    font-size: 16px;
}

.noticeboard-view p.sign-auth-title {
    margin: 5px 0;
}

.noticeboard-view p.sign-name-designation {
    margin: 15px 0;
}


/*view pop-up end*/
   



/* add notice pop-up */

.noticeboard-add {
    background: #fff;
    height: 500px;
    padding: 30px;
    width: 800px;
    text-align: center;
    border-radius: 10px;
}

.noticeboard-add .close-btn {
    height: 15px;
    width: 15px;
    padding: 0;
}

.noticeboard-add .close-btn img {
    width: 100%;
}

.noticeboard-add .heading {
    color: #696969;
    margin: 15px 0;
}

.two-input-box-wrapper {
    display: flex;
    width: 100%;
    text-align: left;
}

.two-input-box-wrapper div {
    width: 45%;
    margin: 0 auto;
}

.one-input-box-wrapper {
    text-align: left;
    padding: 20px;
}

.two-input-box-wrapper label,
.one-input-box-wrapper label {
    display: block;
    padding: 10px 0;
    color: #696969;
    font-weight: 600;
    font-size: 16px;
}

.noticeboard-add .two-input-box-wrapper input, 
.noticeboard-add .one-input-box-wrapper textarea  {
    width: 100%;
    border-radius: 5px;
}

.noticeboard-add .confirm-btn {
    border-radius: 30px;
    margin: 20px 0px;
}

/* add notice pop-up end */


/* edit notice pop-up */

.noticeboard-edit {
    background: #fff;
    height: 500px;
    padding: 30px;
    width: 800px;
    text-align: center;
    border-radius: 10px;
}

.noticeboard-edit .close-btn {
    height: 15px;
    width: 15px;
    padding: 0;
}

.noticeboard-edit .close-btn img {
    width: 100%;
}

.noticeboard-edit .heading {
    color: #696969;
    margin: 15px 0;
}

.two-input-box-wrapper {
    display: flex;
    width: 100%;
    text-align: left;
}

.two-input-box-wrapper div {
    width: 45%;
    margin: 0 auto;
}

.one-input-box-wrapper {
    text-align: left;
    padding: 20px;
}

.two-input-box-wrapper label,
.one-input-box-wrapper label {
    display: block;
    padding: 10px 0;
    color: #696969;
    font-weight: 600;
    font-size: 16px;
}

.noticeboard-edit .two-input-box-wrapper input, 
.noticeboard-edit .one-input-box-wrapper textarea  {
    width: 100%;
    border-radius: 5px;
}

.noticeboard-edit .confirm-btn {
    border-radius: 30px;
    margin: 20px 0px;
}

.noticeboard-edit .cancel-btn {
    background: #fff;
    color: #5E81F4;
    border: 2px solid #5E81F4;
    border-radius: 30px;
    margin: 20px;
    padding: 5px 20px 5px 20px;
}

.noticeboard-edit .cancel-btn:hover {
    padding: 5px 20px 5px 20px;
}