<div id="main-content1">
  <div class="blue-top-bar"></div>
  <div class="row-wrapper center-content">
    <!-- <div class="container-fluid" id="buttonId1"> -->
      <!-- <button class="button button2 hvr-pop transition" (click)="get_employeeForm('employeedetails')">Bulk Employee Admission</button> -->
      <button class="btn -cta" [ngClass]="[singleemployeedetails ? 'active-tab': 'inactive-tab']" (click)="get_employeeForm('singleemployeedetails')">Single
        Employee Admission</button>
      <button class="btn -cta" [ngClass]="[employeeaddress ? 'active-tab': 'inactive-tab']" (click)="get_employeeForm('employeeaddress')">Employee
        Address</button>
    <!-- </div> -->
  </div>
  <!-- <div *ngIf="employeedetails">
        <div class="row alignrow">
          <div class="col-md-3">
            <div class="form-group">
              <label class="pull-left">Class</label>
              <select  class="inpbox" class="form-control" >
                <option>select...</option>
                <option value="">1</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="pull-left">Section</label>
              <select  class="inpbox" class="form-control" >
                <option>select...</option>
                <option value="">1</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="pull-left">Excel Files</label>
              <div class="fileup">
                <input type="file">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="excelimg">
                <img src="../../../assets/images/xlsx6.png" alt="" width="30px" height="30px">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pull-left">
            <button class="button button1 hvr-pop transition" (click)="close()">Close</button>
          </div>
          <div class="col-md-3 pull-right">
            <button class="button button1 hvr-pop transition" (click)="get_employeeForm('singleemployeedetails')">Next</button>
          </div>
        </div>
    </div> -->

  <form [formGroup]="employeeadmissionForm" >
    <div *ngIf="singleemployeedetails">
      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Title</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showTitleList = true"
              (clickOutside)="showTitleList = false">
                  {{!employee.title ? '--Select--' : employee.title}}
              </button>
              <div class="dropdown-content" [hidden]="!showTitleList">
                <a (click)="employee.title = '';">--Select--</a>
                <a (click)="employee.title = 'Mr'">Mr</a>
                <a (click)="employee.title = 'Ms'">Ms</a>
                <a (click)="employee.title = 'Mrs'">Mrs</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="title" [value]="employee.title">
              <option value="">--Select--</option>
              <option value="Mr">Mr</option>
              <option value="Ms">Ms</option>
              <option value="Mrs">Mrs</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('first_name').errors 
            && (employeeadmissionForm.get('first_name').touched || employeeadmissionForm.get('first_name').dirty)}">
            <label class="heading">Forename*</label>
            <div><input class="inpbox" type="text" formControlName="first_name" [value]="employee.first_name">
              <span class="help-block" *ngIf="employeeadmissionForm.get('first_name').errors 
          && (employeeadmissionForm.get('first_name').touched || employeeadmissionForm.get('first_name').dirty)">
                <span *ngIf="employeeadmissionForm.get('first_name').errors.required">
                  Forename is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('last_name').errors 
            && (employeeadmissionForm.get('last_name').touched || employeeadmissionForm.get('last_name').dirty)}">
            <label class="heading">Surname*</label>
            <div>
              <input class="inpbox" type="text" formControlName="last_name" [value]="employee.last_name">
              <span class="help-block" *ngIf="employeeadmissionForm.get('last_name').errors 
          && (employeeadmissionForm.get('last_name').touched || employeeadmissionForm.get('last_name').dirty)">
                <span *ngIf="employeeadmissionForm.get('last_name').errors.required">
                  Last Name is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('phone').errors 
            && (employeeadmissionForm.get('phone').touched || employeeadmissionForm.get('phone').dirty)}">
            <label class="heading">Phone Number</label>
            <div>
              <input type="number" formControlName="phone" [value]="employee.phone">
              <span class="help-block" *ngIf="employeeadmissionForm.get('phone').errors 
          && (employeeadmissionForm.get('phone').touched || employeeadmissionForm.get('phone').dirty)">
                <span *ngIf="employeeadmissionForm.get('phone').errors.required">
                  Phone Number is required
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Employee Code</label>
            <div><input class="inpbox" type="text" formControlName="employee_code" [value]="employee.employee_code"></div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('designation').errors 
            && (employeeadmissionForm.get('designation').touched || employeeadmissionForm.get('designation').dirty)}">
            <label class="heading">Designation*</label>
            <div><input class="inpbox" type="text" formControlName="designation" [value]="employee.designation">
              <span class="help-block" *ngIf="employeeadmissionForm.get('designation').errors 
          && (employeeadmissionForm.get('designation').touched || employeeadmissionForm.get('designation').dirty)">
                <span *ngIf="employeeadmissionForm.get('designation').errors.required">
                  Designation is required
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Email</label>
            <input class="inpbox" type="email" formControlName="email" [value]="employee.email">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('joined_on').errors 
            && (employeeadmissionForm.get('joined_on').touched || employeeadmissionForm.get('joined_on').dirty)}">
            <label class="heading">Date of Joining</label>
            <div class="dropdown">
            <mat-form-field>
               <input matInput [matDatepicker]="joined_on" [formControl]="joined_on">
               <mat-datepicker-toggle matSuffix [for]="joined_on"></mat-datepicker-toggle>
               <mat-datepicker #joined_on></mat-datepicker>
            </mat-form-field>
              <!-- <input class="inpbox" type="date" formControlName="joined_on" [value]="employee.joined_on"> -->
              <span class="help-block" *ngIf="employeeadmissionForm.get('joined_on').errors 
          && (employeeadmissionForm.get('joined_on').touched || employeeadmissionForm.get('joined_on').dirty)">
                <span *ngIf="employeeadmissionForm.get('joined_on').errors.required">
                  Joining Date is required
                </span>
              </span>
            </div>
        </div>
      </div>
    </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Date of Birth</label>
            <div class="dropdown">
              <mat-form-field>
                 <input matInput [matDatepicker]="date_of_birth" [formControl]="joined_on">
                 <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
                 <mat-datepicker #date_of_birth></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- <input class="inpbox" type="date" formControlName="dob" [value]="employee.dob"> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Gender*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showGenderList = true"
              (clickOutside)="showGenderList = false">
                  {{!employee.gender ? '--Select--' : employee.gender}}
              </button>
              <div class="dropdown-content" [hidden]="!showGenderList">
                <a (click)="employee.gender = '';">--Select--</a>
                <a (click)="employee.gender = 'Male'">Male</a>
                <a (click)="employee.gender = 'Female'">Female</a>
              </div>
            </div>

            <!-- <select class="inpbox" formControlName="gender" [value]="employee.gender">
              <option value="">--Select--</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Experience</label>
            <input class="inpbox" type="text" formControlName="experience" [value]="employee.experience">
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Salary Band</label>
            <input class="inpbox" type="text" formControlName="salary_band" [value]="employee.salary_band">
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Blood Group*</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showBloodGroupList = true"
              (clickOutside)="showBloodGroupList = false">
                  {{!employee.blood_group ? '--Select--' : employee.blood_group}}
              </button>
              <div class="dropdown-content" [hidden]="!showBloodGroupList">
                <a (click)="employee.blood_group = '';">--Select--</a>
                <a (click)="employee.blood_group = 'O+'">O+</a>
                <a (click)="employee.blood_group = 'O-'">O-</a>
                <a (click)="employee.blood_group = 'A+'">A+</a>
                <a (click)="employee.blood_group = 'A-'">A-</a>
                <a (click)="employee.blood_group = 'B+'">B+</a>
                <a (click)="employee.blood_group = 'B-'">B-</a>
                <a (click)="employee.blood_group = 'AB+'">AB+</a>
                <a (click)="employee.blood_group = 'AB-'">AB-</a>
                <a (click)="employee.blood_group = 'NA'">NA</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="blood_group" [value]="employee.blood_group">
              <option value="">--Select--</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="NA">NA</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Marital Status</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showMaritalStatusList = true"
              (clickOutside)="showMaritalStatusList = false">
                  {{!employee.marital_status ? '--Select--' : employee.marital_status}}
              </button>
              <div class="dropdown-content" [hidden]="!showMaritalStatusList">
                <a (click)="employee.marital_status = '';">--Select--</a>
                <a (click)="employee.marital_status = 'Married'">Married</a>
                <a (click)="employee.marital_status = 'Unmarried'">Unmarried</a>
              </div>
            </div>
            <!-- <select class="inpbox" formControlName="marital_status" [value]="employee.marital_status">
              <option value="">--Select--</option>
              <option value="Married">Married</option>
              <option value="Unmarried">Unmarried</option>
            </select> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Basic Pay</label>
            <input class="inpbox" type="text" formControlName="basic_pay" [value]="employee.basic_pay">
          </div>
        </div>
        <div class="col-full-3">

        </div>
      </div>

      <div class="row">
        <div class="col-md-3 pull-left">
          <button class="btn -cta inactive-tab" (click)="close()">Close</button>
          <!-- <button class="button button1 hvr-pop transition" (click)="get_employeeForm('employeedetails')">Previous</button> -->
        </div>
        <div class="col-md-3 pull-right">
          <button class="btn -cta active-tab" (click)="get_employeeForm('employeeaddress')">Next</button>
        </div>
      </div>
    </div>
    <div *ngIf="employeeaddress">

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">State</label>
            <div><input class="inpbox" type="text" formControlName="state" [value]="employee.state"></div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Country</label>
            <div><input class="inpbox" type="text" formControlName="country" [value]="employee.country"></div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Employe Type</label>
            <div class="dropdown">
              <button class="dropbtn" (click)="showJobCategoryList = true"
              (clickOutside)="showJobCategoryList = false">
                  {{!employee.job_category ? '--Select--' : employee.job_category}}
              </button>
              <div class="dropdown-content" [hidden]="!showJobCategoryList">
                <a (click)="employee.job_category = '';">--Select--</a>
                <a (click)="employee.job_category = 'Teaching'">Teaching</a>
                <a (click)="employee.job_category = 'Non-Teaching'">Non-Teaching</a>
                <a (click)="employee.job_category = 'Administrative'">Administrative</a>
              </div>
            </div>
            <!-- <div>
              <select class="inpbox" formControlName="job_category" [value]="employee.job_category">
                <option value="">--Select--</option>
                <option value="teaching">Teaching</option>
                <option value="non-teaching">Non-Teaching</option>
                <option value="administrative">Administrative</option>
              </select>
            </div> -->
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Pasport No</label>
            <input class="inpbox" type="text" formControlName="passport_no" [value]="employee.passport_no">
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Aadhaar No</label>
            <div>
              <input class="inpbox" type="text" formControlName="aadhar_no" [value]="employee.aadhar_no">
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Pan No</label>
            <div>
              <input class="inpbox" type="text" formControlName="pan_no" [value]="employee.pan_no">
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Postal Code</label>
            <div>
              <input class="inpbox" type="text" formControlName="postal_code" [value]="employee.postal_code">
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Spoken English</label>
            <input class="inpbox" type="text" formControlName="spoken_languages" [value]="employee.spoken_languages">
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Permanent Address</label>
            <div><textarea formControlName="cur_address" cols="45" rows="10" [value]="employee.current_address.cur_address"></textarea>
            </div>
          </div>
        </div>
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Temporary Address</label>
            <div><textarea formControlName="perm_address" cols="45" rows="10" [value]="employee.permanent_address.perm_address"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-3 pull-left">
          <button class="btn -cta inactive-tab" (click)="close()">Close</button>
          <button class="btn -cta inactive-tab"
            (click)="get_employeeForm('singleemployeedetails')">Previous</button>
        </div>
        <div class="col-md-3 pull-right">
          <button class="btn -cta active-tab" type="submit">Submit</button>
        </div>
      </div>

    </div>
  </form>
</div>