<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <div class="dropdown">
          <button class="dropbtn" (click)="showEmployeeTypeList = true" (clickOutside)="showEmployeeTypeList = false">
              {{!employee_type ? 'employee type' : employee_type}}
          </button>
          <div class="dropdown-content" [hidden]="!showEmployeeTypeList">
            <a (click)="employee_type = 'teaching'; get_selectedemployees();">Teaching</a>
            <a (click)="employee_type = 'non-teaching'; get_selectedemployees();">Non-Teaching</a>
            <a (click)="employee_type = 'administrative'; get_selectedemployees();">Administrative</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" (click)="showStatusList = true" (clickOutside)="showStatusList = false">
              {{status}}
          </button>
          <div class="dropdown-content" [hidden]="!showStatusList">
            <a (click)="status = 'active'; getEmployeesByStatus();">Active</a>
            <a (click)="status = 'inactive'; getEmployeesByStatus();">Inactive</a>
          </div>
        </div>
      </div>
      <input type="search" name="" placeholder="Search">
    </div>
    <button class="btn -cta" (click)="addEmployee()">Add Employee</button>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Employee Name</th>
            <th align="left">Employee Code</th>
            <th align="left">Designation</th>
            <th align="left">Contact Number</th>
            <th align="left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees; let i=index">
            <td class="_s-no"><span>{{ i + 1 }}</span></td>
            <td><a routerLink="/main/employeeprofile/profile/{{emp.employee_id}}">{{emp.first_name}} {{emp.last_name}}</a></td>
            <td>{{emp.employee_code}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.phone}}</td>
            <td class="_actions">
              <button class="btn" *ngIf="status === 'active'" (click)="editEmployee(emp.employee_id)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" *ngIf="status === 'active'" (click)="deleteEmployee(emp.employee_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
              <button class="btn" *ngIf="status === 'inactive'" (click)="restoreEmployee(emp.employee_id)"><img src="../../../assets/images/trash-white.svg" alt="Restore" /></button>
            </td>
          </tr>   
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>