<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
        <app-teacher-class *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-teacher-class>
      </div>
    </div>
    <div class="add_div">

      <!-- <div class="dropdown">
          <button class="dropbtn" (click)="showSubjectList = true" (clickOutside)="showSubjectList = false">
            {{!selected_subject ? 'select subject' : selected_subject}}
          </button>
          <div class="dropdown-content" [hidden]="!showSubjectList">
            <a *ngFor="let sub of subjects;" (click)="timetableForm.value.subject_id = sub.subject_id;">{{sub.name}}</a>
          </div>
        </div> -->
      <!-- <div class="dropdown">
          <button class="dropbtn" (click)="showTeacherList = true" (clickOutside)="showTeacherList = false">
            {{!selected_teacher ? 'select teacher' : selected_teacher}}
          </button>
          <div class="dropdown-content" [hidden]="!showTeacherList">
            <a *ngFor="let tch of teachers;" (click)="timetableForm.value.teacher_id = tch.teacher_id;">{{tch.teacher_name}}</a>
          </div>
        </div> -->
      <!-- <div class="dropdown">
          <button class="dropbtn" (click)="showDayList = true" (clickOutside)="showDayList = false">
            {{!selected_day ? 'select day' : selected_day}}
          </button>
          <div class="dropdown-content" [hidden]="!showDayList">
            <a *ngFor="let tch of teachers;" (click)="timetableForm.value.teacher_id = tch.teacher_id;">{{tch.teacher_name}}</a>
          </div>
        </div> -->
      <!--  <div class="dropdown">
          <button class="dropbtn" (click)="showDayList = true" (clickOutside)="showDayList = false">
            {{!selected_day ? 'select day' : selected_day}}
          </button>
          <div class="dropdown-content" [hidden]="!showDayList">
            <a *ngFor="let tch of teachers;" (click)="timetableForm.value.teacher_id = tch.teacher_id;">{{tch.teacher_name}}</a>
          </div>
        </div> -->
      <!-- <select name="section" formControlName="subject_id" (change)="getSubject_teachers()">
          <option *ngFor="let sub of subjects" value="{{sub.subject_id}}">{{sub.name}}</option>
        </select> -->
      <!-- <select name="section" formControlName="teacher_id">
          <option *ngFor="let tch of teachers" value="{{tch.teacher_id}}">{{tch.teacher_name}}</option>
        </select> -->
      <!-- <select name="section" formControlName="day">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
          <option value="sunday">Sunday</option>
        </select> -->
      <!--  <select name="section" formControlName="session_id" (change)="getTime()">
          <option *ngFor="let tim of timings; let j = index" value="{{tim.session_id}}">{{tim.session}}</option>
        </select> -->
      <!-- <div class="form-group pull-right">
          <button type="submit" class="btn -cta">Add Timetable</button>
        </div> -->
    </div>
  </section>


  <section class="table-container timetable-chart">
    <table cellspacing="0" class="_task-list">
      <thead>
        <tr>
          <th></th>
          <th align="left">Mon</th>
          <th align="left">Tue</th>
          <th align="left">Wed</th>
          <th align="left">Thu</th>
          <th align="left">Fri</th>
          <th align="left">Sat</th>
          <th align="left">Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr class="_task" *ngFor="let schedule of timetable; let i = index">
          <td class="time-specifiation">
            <span>{{schedule.start_time}} - {{schedule.end_time}}</span>
            <button class="edit-time-row-btn" (click)="editTimeslot(i)" *ngIf="user.role === 'admin'">Edit</button>
          </td>
          <td *ngFor="let tim of schedule.schedule; let j = index">
            <div class="schedule-box" *ngIf="tim.name !== 'No Data'">
              <p class="subject-spec">
                <span class="row-content-value">{{tim.name}}</span>
              </p>
              <p class="class-section-spec">
                <span class="row-content-value">{{tim.teacher_name}}</span>
              </p>

              <div class="row-content-detail">
                <p class="row-content-detail-title">More details</p>
                <p>
                  <span class="row-content-title">Subject</span>
                  <span class="row-content-value">{{tim.name}}</span>
                </p>

                <div class="teacher-spec">
                  <span class="teacher-img-wrapper"><img src="../../../assets/images/man2.jpg"></span>
                  <p class="teacher-spec-text">
                    <span class="row-content-title">Teacher</span>
                    <span class="row-content-value">{{tim.teacher_name}}</span>
                  </p>
                </div>

                <button class="delete-schedule-btn" *ngIf="user.role === 'admin'">Delete Schedule</button>
              </div>
            </div>
            <div class="empty-schedule-box" *ngIf="tim.name !== 'No Data' && tim.room_no === 'Holiday'">
              <div class="holiday-schedule-wrapper">
                <button>Holiday</button>
              </div>
            </div>
            <div class="empty-schedule-box" *ngIf="tim.name === 'No Data'">
              <div class="add-in-empty-schedule-wrapper">
                <button (click)="addSchedule(i, j)" *ngIf="user.role === 'admin'">Add Subject</button>
                <button (click)="markHoliday(i, j)" *ngIf="user.role === 'admin'">Mark Holiday</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <div class="btn-row">
    <button class="hollow-btn pull-left btn-plus-icon" (click)="addtimeslot()" *ngIf="user.role === 'admin'">Add time slot</button>
    <div class="pull-right" *ngIf="user.role === 'admin'">
      <button class="hollow-btn"><b>Apply for all week</b></button>
      <button class="solid-btn">Save</button>
    </div>
  </div>
</main>