<form class="searchForm" [formGroup]="stationsForm" (ngSubmit)="submitStation()">
    <div class="form-group">
        <label class="pull-left">Station Name</label>
        <input class="form-control" value="{{station.station_name}}" formControlName="station_name" placeholder="Enter..." type="text">
    </div>
    <div class="form-group">
        <label class="pull-left">Code</label>
        <input class="form-control" value="{{station.station_code}}" formControlName="station_code" placeholder="Enter..." type="text">
    </div>
    <div class="form-group">
        <label class="pull-left">Geo-Location</label>
        <input class="form-control" value="{{station.station_geo_location}}" formControlName="station_geo_location" placeholder="Enter..." type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="button button1 hvr-pop transition pull-right">Submit</button>
        <div (click)="close()" class="button button1 hvr-pop transition pull-left">Close</div>
    </div>
</form>