<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
        <app-teacher-class *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-teacher-class>
      </div>
      <input type="search" name="" placeholder="Search">
    </div>
    <button class="btn -cta" (click)="addsubject()" *ngIf="user.role === 'admin'">Add Subject</button>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Subject Name</th>
            <th align="left">Book Name</th>
            <th align="left">Author</th>
            <th align="left">Publisher</th>
            <th align="left" *ngIf="user.role === 'admin'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sub of subjects; let i=index">
            <td class="_s-no"><span>{{ i + 1 }}</span></td>
            <td>{{sub.name}}</td>
            <td>{{sub.textbook}}</td>
            <td>{{sub.author}}</td>
            <td>{{sub.publisher}}</td>
            <td class="_actions" *ngIf="user.role === 'admin'">
              <button class="btn" (click)="editsubject(i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteConfirmation(std.student_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>