<!-- <div>
  <div class="row">
    <div class="col-md-12">
      <h4 id="heading" *ngIf="dialog_type == 'add'">Add ExamPaper</h4>
      <h4 id="heading" *ngIf="dialog_type == 'edit'">Edit ExamPaper</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="pull-left">Subject</label>
        <select class="form-control" [(ngModel)]="selected_subject">
          <option>select...</option>
          <option *ngFor="let sub of subjects" value="{{sub.subject_id}}">{{sub.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let exam of exampapers; let i = index;">
    <div class="col-md-3">
      <div class="form-group">
        <label class="pull-left">Assessment</label>
        <input class="form-control" [(ngModel)]="exam.Assessment" type="text" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="pull-left">Exam Date</label>
        <input class="form-control" [(ngModel)]="exam.Exam_date" type="date">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="pull-left">Start Time</label>
        <input class="form-control" [(ngModel)]="exam.Start_time" type="time">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="pull-left">End Time</label>
        <input class="form-control" [(ngModel)]="exam.End_time" type="time">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button (click)="submit()" class="button button1 hvr-pop transition pull-right">Submit</button>
    <div (click)="close()" class="button button1 hvr-pop transition pull-left">Close</div>
  </div>
</div> -->

<div id="main-content1" class="new-message-wrapper">
  <div class="header-wrapper">
      <p *ngIf="dialog_type == 'add'">Add ExamPaper</p>
      <p *ngIf="dialog_type == 'edit'">Add ExamPaper</p>
      <button class="btn-close" (click)="close()"></button>
  </div>

  <div class="pop_content">
    <div class="row_content">
      <div class="column_content column_content_left">
        <h4>Subject: </h4>
        <select [(ngModel)]="selected_subject">
          <option>select...</option>
          <option *ngFor="let sub of subjects" value="{{sub.subject_id}}">{{sub.name}}</option>
        </select>
      </div>
    </div>
    <div class="row_content" *ngFor="let exam of exampapers; let i = index;">
      <div class="column_content">
        <h4>Assessment: </h4>
        <input [(ngModel)]="exam.Assessment" type="text" disabled>
      </div>
      <div class="column_content">
        <h4>Exam Date: </h4>
        <input [(ngModel)]="exam.Exam_date" type="date">
      </div>
      <div class="column_content">
        <h4>Start Time: </h4>
        <input [(ngModel)]="exam.Start_time" type="time">
      </div>
      <div class="column_content">
        <h4>End Time: </h4>
        <input [(ngModel)]="exam.End_time" type="time">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 pull-right">
        <button class="btn -cta active-tab" (click)="submit()">Submit</button>
    </div>
  </div>
</div>