<main class="card mt-20 within-viewport new-listing">
    <section class="page-actions">
      <div class="_select_div">
        <button class="btn -cta" routerLink="/main/admin/addClass">Class</button>
        <button class="btn -cta" routerLink="/main/admin/addSection">Section</button>
        <div class="dropdown" >
          <button class="dropbtn" (click)="showClassList = true" (clickOutside)="showClassList = false">
              {{!selected_class.name ? 'select class' : selected_class.name}}
           </button>
          <div class="dropdown-content" [hidden]="!showClassList">
            <a *ngFor="let cls of classes" (click)="selected_class = cls; getSections();">{{cls.name}}</a>
          </div>
        </div>
        <div class="dropdown" >
          <button class="dropbtn" (click)="showStatusList = true" (clickOutside)="showStatusList = false">
              {{status}}
          </button>
          <div class="dropdown-content" [hidden]="!showStatusList">
            <a (click)="status = 'active'; getSectionsByStatus()">Active</a>
            <a (click)="status = 'inactive'; getSectionsByStatus()">Inactive</a>
          </div>
        </div>
      </div>
      <div class="add_div">
        <button class="btn -cta" (click)="addSection()">Add Section</button>
      </div>
    </section>
    <section class="table-and-pagination -classes-schedule">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th align="left">#</th>
              <th align="left">Class</th>
              <th align="left">Section Name</th>
              <th align="left">Class Teacher</th>
              <th align="left" *ngIf="user.role === 'admin'">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sec of sections | pagination: pageNo; let i = index">
              <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
              <td>{{sec.class_name}}</td>
              <td>{{sec.name}}</td>
              <td>{{sec.teacher_name}}</td>
              <td class="_actions" *ngIf="user.role === 'admin' && sec.status === 1">
                <button class="btn" (click)="editSection(page_start + i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
                <button class="btn" (click)="deleteSection(sec.section_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
              </td>
              <!-- <td class="_actions" *ngIf="user.role === 'admin' && class.status === 0">
                <button class="btn" (click)="restoreClass(class.class_id)"><img src="../../../assets/images/trash-white.svg" alt="Restore" /></button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="_pagination">
        <a class="btn -previous">Previous</a>
        <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
        <a class="btn -next">Next</a>
      </div>
    </section>
  </main>