<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select_div">
      <button class="btn -cta" routerLink="/main/admin/pendingTasks">Pending Tasks</button>
      <button class="btn -cta" routerLink="/main/admin/completedTasks">Completed Info</button>
    </div>
    <div class="add_div">
      <button class="btn -cta" (click)="addTask()">Add Task</button>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Task</th>
            <th align="left" *ngIf="user.role === 'admin'">Department</th>
            <th align="left" *ngIf="user.role === 'admin'">Assigned To</th>
            <th align="left">Priority</th>
            <th align="left">Due Date</th>
            <th align="left">Completion Date</th>
            <th align="left">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{task.task}}</td>
            <td *ngIf="user.role === 'admin'">{{task.department}}</td>
            <td *ngIf="user.role === 'admin'">{{task.employee_name}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.assigned_on}}</td>
            <td>{{task.completion_date}}</td>
            <td *ngIf="user.role === 'admin'"><span class="_chip -class-running"
                [ngStyle]="{'background-color': (task.task_status == 'pending') ? '#d9534f' : '#5cb85c', 'color': 'white' }"
                (click)="update_status(task.task_status, i)">{{task.task_status}}</span></td>
            <td *ngIf="user.role === 'teacher'"><span class="_chip -class-running"
                [ngStyle]="{'background-color': (task.task_status == 'pending') ? '#d9534f' : '#5cb85c', 'color': 'white' }">{{task.task_status}}</span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>