<main class="card mt-20 within-viewport new-listing">
  <section class="page-actions">
    <div class="_select_div">
      <button class="btn -cta" routerLink="/main/admin/materials">Material</button>
      <button class="btn -cta" routerLink="/main/admin/vendors">Vendors</button>
      <button class="btn -cta" routerLink="/main/admin/materialIn">Material-In</button>
      <button class="btn -cta" routerLink="/main/admin/materialOut">Material-Out</button>
    </div>
    <div class="add_div">
      <button type="submit" class="btn -cta" (click)="addMaterials()">Add Material</button>
      <!-- <form class="searchForm" role="form" [formGroup]="materialForm" (ngSubmit)="addMaterials()">
        <input formControlName="material" placeholder="Enter Material Name..." type="text">
        <input formControlName="category" placeholder="Enter Category..." type="text">
        <button type="submit" class="btn -cta">Add Material</button>
      </form> -->
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Material Name</th>
            <th align="left">Category</th>
            <th align="left">Available</th>
            <th align="left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mat of materials | pagination: pageNo; let i=index">
            <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
            <td>{{mat.material}}</td>
            <td>{{mat.category}}</td>
            <td>{{mat.quantity}}</td>
            <td class="_actions">
              <button class="btn" (click)="editMaterial(i)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" (click)="deleteMaterial(mat.material_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a class="btn -previous">Previous</a>
      <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
      <a class="btn -next">Next</a>
    </div>
  </section>
</main>