<main class="card mt-20 within-viewport new-listing">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
      </div>
      <input type="search" class="search-box" [(ngModel)]="searchText" placeholder="Search for Student">
    </div>
    <div class="add_div">
      <button class="btn -cta" routerLink="/main/admin/parentinfo">Parent Info</button>
      <button class="btn -cta" routerLink="/main/admin/employeeinfo">Employee Info</button>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th align="left">#</th>
            <th align="left">Student Name</th>
            <th align="left">Parent Name</th>
            <th align="left">User Name</th>
            <th align="left">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let par of parents | search : searchText | pagination: pageNo; let i=index">
            <td class="_s-no"><span>{{ page_start + i + 1 }}</span></td>
            <td>{{par.student_doc[0].first_name}} {{par.student_doc[0].last_name}}</td>
            <td>{{par.parent_name}}</td>
            <td>{{par.parent_id}}</td>
            <td>{{par.parent_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a class="btn -previous">Previous</a>
      <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
      <a class="btn -next">Next</a>
    </div>
  </section>
</main>