<div id="main-content">

    <div class="row">
        <div class="container-fluid" id="buttonId1">
            <button routerLink="/main/projectworks/PWByDate" class="button button2 hvr-pop transition">ProjectWorks By
                Date</button>
            <button routerLink="/main/projectworks/PWListMarks" class="button button2 hvr-pop transition">ProjectWorks List
                Marks</button>
            <button routerLink="/main/projectworks/PWAddMarks" class="button button2 hvr-pop transition">ProjectWorks Add
                Marks</button>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid dashboard-content">
            <div class="card selectcard">
                <div class="searchForm">
                    <div class="form-group" *ngIf="user.role === 'admin'">
                        <label class="pull-left">Class</label>
                        <select class="form-control" [(ngModel)]="selected_class" (change)="getSections()">
                            <option>select...</option>
                            <option *ngFor="let cls of classes" value="{{cls.class_id}}">{{cls.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="user.role === 'teacher'">
                        <label class="pull-left">Class</label>
                        <select class="form-control" [(ngModel)]="selected_class" (change)="getTeacherSections()">
                            <option>select...</option>
                            <option *ngFor="let cls of classes" value="{{cls.class_id}}">{{cls.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="user.role === 'admin'">
                        <label class="pull-left">Section</label>
                        <select class="form-control" [(ngModel)]="selected_section" (change)="getSubjects()">
                            <option>select...</option>
                            <option *ngFor="let sec of class_sections; let i = index" value="{{sec.section_id}}">
                                {{sec.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="user.role === 'teacher'">
                        <label class="pull-left">Section</label>
                        <select class="form-control" [(ngModel)]="selected_section" (change)="getTeacherSubjects()">
                            <option>select...</option>
                            <option *ngFor="let sec of class_sections; let i = index" value="{{sec.section_id}}">
                                {{sec.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Subject</label>
                        <select class="form-control" [(ngModel)]="selected_subject" (change)="getProjectworks()">
                            <option>select...</option>
                            <option *ngFor="let sub of subjects; let i = index" value="{{sub.subject_id}}">{{sub.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="pull-left">Projectwork</label>
                        <select class="form-control" [(ngModel)]="selected_projectwork">
                            <option>select...</option>
                            <option *ngFor="let pw of projectworks; let i = index" value="{{pw.projectwork_id}}">
                                {{pw.project_work}}</option>
                        </select>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" (click)="getProjectwork_marks()" class="button button1 hvr-pop transition">Search</button>
                    </div>
                </div>
            </div>
            <div class="card listcard">
                <div class="pull-left">
                    <h4>Projectwork Marks</h4>
                </div>
                <div class="searchForm">
                    <div class="table-responsive">
                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student</th>
                                    <th>Marks Obtained</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stu of collection.students | paginate: config; let i=index">
                                    <td>{{ (config.currentPage - 1) * config.itemsPerPage + i +1 }}</td>
                                    <td>{{stu.first_name}}</td>
                                    <td>{{stu.marks}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationdiv">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>