<div class="row">
    <div class="container-fluid dashboard-content">
        <div class="card dashboard-attendance1">
            <div class="form-group">
                <button class="button button2 hvr-pop transition" id="buttonId2"
                    *ngFor="let cls of classes; let i = index"
                    (click)="getSections(cls.class_id)">{{cls.name}}</button>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="button button2 hvr-pop transition" id="buttonId2"
                        *ngFor="let sec of class_sections; let i = index"
                        (click)="getdashboard_fees(sec.section_id)">Section: {{sec.name}}</button>
                </div>
            </div>

            <div class="table-responsive">
                <table style="width:100%;">
                    <tbody>
                        <tr *ngFor="let data of chartData; let j = index">
                            <th style="padding-left: 50px;">
                                {{data.term}}:
                            </th>
                            <td>
                                <label>Total Paid: <b>{{data.data[0]}}</b></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': (data.percentage[0]) + '%'}">
                                        {{data.percentage[0]}} %
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label>Partially Paid: <b>{{data.data[1]}}</b></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': (data.percentage[1]) + '%'}">
                                        {{data.percentage[1]}} %
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label>Nil Paid: <b>{{data.data[2]}}</b></label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': (data.percentage[2]) + '%'}">
                                        {{data.percentage[2]}} %
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>