<main class="card mt-20 within-viewport">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
      </div>      
    </div>
    <div class="add_div">
      <form *ngIf="user.role === 'admin'" class="searchForm" role="form" [formGroup]="teachersForm" (ngSubmit)="assignTeachers(teachersForm)">
        <select name="standard" formControlName="subject_id">
          <option *ngFor="let sub of subjects" value="{{sub.subject_id}}">{{sub.name}}</option>
        </select>
        <select name="standard" formControlName="teacher_id">
          <option *ngFor="let tch of teachers" value="{{tch.employee_id}}}">{{tch.first_name}}</option>
        </select>
        <button class="btn -cta" type="submit">Assign</button>
      </form>
    </div>
  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th align="left">Subject</th>
            <th align="left">Teacher</th>
            <th align="left" *ngIf="user.role === 'admin'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tch of assigned_teachers; let i = index">
            <td class="_s-no"><span>{{ i + 1 }}</span></td>
            <td>{{tch.name}}</td>
            <td *ngFor="let t of tch.teachers; let j = index">{{t.teacher_name}}</td> 
            <td class="_actions" *ngIf="user.role === 'admin'">
              <button class="btn" (click)="deleteAssignsubject(tch.teachers[0].teacher_id, tch.subject_id, i, j)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
            </td>
          </tr>  
        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a href="" class="btn -previous">Previous</a>
      <a href="" class="btn -current">1</a>
      <a href="" class="btn">2</a>
      <a href="" class="btn">3</a>
      <a href="" class="btn">4</a>
      <a href="" class="btn">5</a>
      <a href="" class="btn">6</a>
      <a href="" class="btn">7</a>
      <a href="" class="btn">8</a>
      <a href="" class="btn">9</a>
      <a href="" class="btn">10</a>
      <a href="" class="btn -next">Next</a>
    </div>
  </section>
</main>