<main class="card mt-20 within-viewport new-student-listing">
  <section class="page-actions">
    <div class="_select-or-search">
      <div class="_select-group">
        <app-class *ngIf="user.role === 'admin'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-class>
        <app-teacher-class *ngIf="user.role === 'teacher'" (classEvent)="receiveClass($event)" (sectionEvent)="receiveSection($event)"></app-teacher-class>
        <div class="dropdown" >
          <button class="dropbtn" (click)="showStatusList = true" (clickOutside)="showStatusList = false">
              {{status}}
          </button>
          <div class="dropdown-content" [hidden]="!showStatusList">
            <a (click)="status = 'active'; getStudentsByStatus();">Active</a>
            <a (click)="status = 'inactive'; getStudentsByStatus();">Inactive</a>
          </div>
        </div>
      </div>
      <input type="search" class="search-box" [(ngModel)]="searchText" placeholder="Search for Student">
    </div>
    <div class="add_div">
    <!-- <input id="file-input" type="file" name="image" placeholder="Upload Bulk Data" (change)="profileProgress($event.target.files)"/> -->
    <button class="btn -cta" (click)="addStudent()" *ngIf="user.role === 'admin'">Add Student</button>
    </div>

  </section>
  <section class="table-and-pagination -classes-schedule">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Roll</th>
            <th align="left">Student Name</th>
            <th align="left">Father/Guardian Name</th>
            <th align="left">Class</th>
            <th align="left">Section</th>
            <th align="left">Gender</th>
            <th align="left">Contact Number</th>
            <th align="left" *ngIf="user.role === 'admin'">Action</th>
          </tr>
        </thead>
        <tbody>          
          <tr *ngFor="let std of students | search : searchText | pagination: pageNo; let i=index">
            <td class="_s-no"><span>{{ page_start + i + 1 }}.</span></td>
            <td align="left"><a
                routerLink="/main/main/studentprofile/profile/{{std.student_id}}/{{std.section_id}}">{{std.first_name}}
                {{std.last_name}}</a></td>
            <td>{{std.father_name}}</td>
            <td>{{std.school_classes[0].name}}</td>
            <td>{{std.sections[0].name}}</td>
            <td>{{std.gender}}</td>
            <td>{{std.phone}}</td>
            <td class="_actions" *ngIf="user.role === 'admin'">
              <button class="btn" *ngIf="status === 'active'" (click)="editStudent(std.student_id)"><img src="../../../assets/images/edit-white.svg" alt="Edit" /></button>
              <button class="btn" *ngIf="status === 'active'" (click)="deleteStudent(std.student_id)"><img src="../../../assets/images/trash-white.svg" alt="Delete" /></button>
              <button class="btn" *ngIf="status === 'inactive'" (click)="restoreStudent(std.student_id)"><img src="../../../assets/images/pencil-white-outline.svg" alt="Restore" /></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="_pagination">
      <a class="btn -previous">Previous</a>
      <a class="btn" [ngClass]="{'-current': pageNo === (i+1)}" *ngFor='let page of page_counter(pages) ;let i = index' (click)="pageChange(i+1)">{{i+1}}</a>
      <a class="btn -next">Next</a>
    </div>
  </section>
</main>